body {
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #4d4d4f;
}

h1 {
    font-size: 2.125em;
    color: #5eb9e4;
    margin-bottom: .5em;
    font-family: "Prelo Slab W01 Medium", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.tab-nav-lvl1 a.desktopShow {
    display: block;
}

.tab-nav-lvl1 a.mobileShow {
    display: none;
}

.container .content a:hover {
    color: #4d4d4f;
}

.aon-pages #container {
    max-width: 850px;
    width: 100%;
}

.aon-pages .full {
    padding: 0%;
    width: 100%;
    margin-bottom: 0;
}

* {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clr {
    clear: both;
}

.container {
    margin: 0 auto;
    width: 100%;
}

    .container .content ul {
        margin: 0 0 0 25px;
        padding: 0;
        list-style: outside;
    }

        .container .content ul li {
            margin: 0;
            padding: 5px 0;
            list-style: outside;
        }

    .container .content ol, .container .content ol li {
        list-style: outside none decimal;
        margin: 0 0 0 15px;
        padding: 5px 0px;
    }

.aon-pages #container {
    max-width: 850px;
    width: 94%;
    padding: 0 3%;
    margin: 0 auto;
}
/*----Tab button----*/

.container .tab-button {
    display: none;
    outline: none 0;
}
/*-----TERTIARY VIEW--------*/


.tab-nav-lvl1 .tertiaryView a:hover, .tab-nav-lvl1 .tertiaryView a.act {
    color: #004270;
    font-weight: bold;
}
/*-----SOCIAL BUTTONS-----*/

.socialButtons {
    width: 100%;
    float: left;
    margin: 2.5em 0px 1em;
}
/*-----CONTENT-----*/

.content {
    width: 100%;
    margin-bottom: 0;
}

.contentB {
    width: 72%;
}
/*----SECTION GLOBALREACH----*/

.content .globalReach {
    width: 100%;
}

    .content .globalReach h1 {
        font-size: 2.125em;
        color: #5eb9e4;
        margin-bottom: .5em;
        font-family: "Prelo Slab W01 Medium", Arial, Helvetica, sans-serif;
        font-weight: normal;
    }

.content h2 {
    font-size: 1.625em;
    color: #004270;
    letter-spacing: normal;
    font-family: "StoneSansITCW01-SemiBol_735693", Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: normal;
    margin-top: 0px;
}

.content .globalReach p {
    /* font-size: 1.125em; */
    font-family: arial;
    line-height: 1.5em;
    width: 100%;
    /* margin-bottom: 0px; */
    color: #404040;
}

.content .globalReach img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-top: 1em;
}
/*----section subhead1, subhead2-----*/

.content .subhead1 {
    width: 100%;
    margin-top: 2.5em;
}

.content .subhead2 {
    width: 100%;
    margin-top: 2.5em;
}

    .content .subhead1 p,
    .content .subhead2 p {
        font-size: 1em;
        font-family: arial;
        line-height: 1.5em;
        margin-top: 1.2em;
        margin-bottom: 0px;
        width: 64%;
        color: #404040;
    }

    .content .subhead2 a {
        text-decoration: none;
        color: #404040;
        font-weight: bold;
        font-size: 1em;
        float: right;
        width: 64%;
        text-align: left;
        margin-top: 0.625em;
    }

.content .subhead2B a {
    text-decoration: none;
    color: #404040;
    font-weight: bold;
    font-size: 1em;
    float: right;
    width: 58.2%;
    text-align: left;
    margin-top: 0.625em;
}

.content .subhead1B {
    margin-top: 1.5em;
}

    .content .subhead1B p {
        width: 57%;
    }

.content .subhead1 img {
    max-width: 32%;
    height: auto;
    width: auto;
    margin: 0 1em;
}

.content .subhead1B img {
    margin: 3em 2.75em 0 0;
    max-width: 32%;
    height: auto;
    width: auto;
}

.content .subhead2 img {
    max-width: 32%;
    height: auto;
    width: auto;
    margin: 3.5em 0em 1em 1em;
}

.content .subhead2B p {
    width: 58.2% !important;
}

    .content .subhead1B p.fulltempWidth, .content .subhead2B p.fulltempWidth {
        width: 100% !important;
    }

    .content .subhead1B p.noPaddingTop, .content .subhead2B p.noPaddingTop {
        margin-top: 0;
    }

.content .subhead2 h2 {
    position: absolute;
}

.content .subhead2 p {
    margin-top: 3.1em;
    color: #404040;
}

    .content .subhead2 p.fulltempWidth, .content .subhead1 p.fulltempWidth {
        width: 100%;
    }

    .content .subhead2 p.noPaddingTop, .content .subhead1 p.noPaddingTop {
        margin-top: 0;
    }

/*----section table----*/

.content .table {
    width: 100%;
    margin-top: 3em;
    border-bottom: 0.063em solid #d1d3d4;
}

    .content .table .health {
        border-bottom: 0.063em solid #d1d3d4;
        width: 100%;
    }

    .content .table .text {
        padding: 1em;
        width: 62%;
        border-left: 0.063em solid #d1d3d4;
    }

    .content .table .textB {
        width: 54%;
    }

    .content .table .health img {
        margin: 1.7em 0 0 1.125em;
    }

    .content .table .health h3 {
        margin: 1.5em 0 0 1.2em;
        font-size: 1em;
        width: 18%;
        font-family: "StoneSansITCW01-SemiBol_735693", Arial, Helvetica, sans-serif;
        color: #404040;
    }

    .content .table .healthB h3 {
        width: 22%;
        margin: 1.7em 0 0 1.125em;
    }

    .content .table .healthB img {
        margin: 1.7em 0 0 1.125em;
    }

    .content .table .text p {
        font-size: 0.875em;
        width: 100%;
        font-family: arial;
        line-height: 1.25em;
        padding-bottom: .9em;
        color: #404040;
        margin-bottom: 0px;
    }

    .content .table .text a {
        text-decoration: none;
        color: #404040;
        font-weight: bold;
        font-size: 0.875em;
    }

.content .video {
    margin-top: 2.5em;
    width: 100%;
}

    .content .video h2 {
        margin-bottom: 1em;
        font-family: "StoneSansITCW01-SemiBol_735693", Arial, Helvetica, sans-serif;
    }

    .content .video img {
        max-width: 100%;
        height: auto;
        width: auto;
        margin-top: 1.2em;
    }

.content .global {
    margin-top: 2.5em;
    width: 100%;
}

    .content .global h2 {
        margin-bottom: 1em;
    }

    .content .global .global1 {
        margin-bottom: 2em;
        float: left;
        width: 100%;
    }

    .content .global img {
        width: 14%;
    }

    .content .global .gText {
        width: 83%;
    }

        .content .global .gText.widthTempFull {
            width: 100%;
        }

        .content .global .gText p {
            width: 100%;
            font-size: 1em;
            font-family: arial;
            line-height: 1.5em;
            /* margin: 0 0 0 0; */
            color: #404040;
        }

        .content .global .gText h6 {
            font-size: 1.25em;
            font-family: "StoneSansITCW01-SemiBol_735693", Arial, Helvetica, sans-serif;
            margin-bottom: 0.625em;
            color: #404040;
        }

        .content .global .gText a {
            text-decoration: none;
            font-size: 1em;
            font-family: arial;
            font-weight: bold;
            color: #404040;
            display: block;
            margin-top: 1em;
        }

.content .blueBanner {
    margin-top: 3em;
}

    .content .blueBanner h4 {
        padding: 2.5em;
        font-size: 1.125em;
        background: #4bbbeb;
        font-style: italic;
        font-weight: normal;
        color: white;
        line-height: 1.688em;
        font-family: arial;
    }

    .content .blueBanner p {
        font-family: arial;
        font-weight: bold;
        font-size: 1em;
        padding: 0.625em 0 0 2.5em;
        color: #4d4d4f;
        width: 90%;
    }

    .content .blueBanner > img {
        position: absolute;
        right: 4em;
        margin-top: -1em;
    }

.content .blueBannerB > img {
    right: 18em;
    margin-top: -2em;
}

.content .blueBanner span {
    display: inline-block;
}

.content .bigBlue {
    margin-top: 4.8em;
    width: 100%;
    float: left;
}

    .content .bigBlue h5 {
        font-size: 1.25em;
        color: #e11b22;
        font-family: "StoneSansITCW01-SemiBol_735693", Arial, Helvetica, sans-serif;
        font-weight: normal;
        margin-bottom: 1em;
    }

    .content .bigBlue > p {
        font-size: 1em;
        font-family: arial;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.5em;
        color: #404040;
    }

    .content .bigBlue .bigBlueImg {
        width: 33.33%;
        float: left;
        margin: 1em auto 0 auto;
    }

    .content .bigBlue img {
        margin: 0 auto;
        width: auto;
        height: auto;
        max-width: 100%;
    }

    .content .bigBlue .bigBlueImgB {
        width: 45%;
        float: left;
        margin: 1.875em auto;
    }
/*----Banner----*/

.banners {
    width: 25.7%;
}

.banner1 {
    padding: 1.25em;
    background: #ebebeb;
    color: #4d4d4f;
    margin-top: 1em;
}

    .banner1 p {
        font-size: 0.875em;
        font-family: arial;
        margin: 0.68em 0;
        line-height: 1.25em;
    }

    .banner1 a img {
        margin-top: 0.4em;
    }

.banners a {
    text-decoration: none;
    font-weight: bold;
}

.banners .banner1 a:first-child {
    text-decoration: none;
    color: #004270;
    font-weight: normal;
}

.benefit {
    color: #4d4d4f;
    width: 100%;
}

.banners h6 {
    font-size: 1em;
    font-weight: bold;
}

.benefit > h6 {
    margin: 1.8em 0 1em 0;
    color: #4d4d4f;
}

.benefit ul li {
    list-style: none;
    padding: 1.25em;
    background: #f0f0f0;
    margin-top: 0.313em;
    color: #4d4d4f;
    font-size: .75em;
}

    .benefit ul li a {
        margin-top: 0.35em;
        width: 90%;
    }

        .benefit ul li a img {
            margin-top: 0.2em;
        }

.leftBlue {
    font-family: arial;
    margin-top: 1.625em;
    margin-bottom: 1.625em;
}

    .leftBlue > h4 {
        color: white;
        background: #4bbbeb;
        padding: 1.27em;
        font-style: italic;
        font-size: 1em;
        line-height: 1.375em;
        font-weight: normal;
    }

    .leftBlue > img {
        position: absolute;
        margin-top: -1.3em;
        right: 2em;
    }

    .leftBlue > p {
        /* position: absolute; */
        font-size: 0.85em;
        font-family: arial;
        width: 65%;
        font-weight: bold;
        padding: 0.625em 0 0 1.5em;
        color: #4d4d4f;
    }

    .leftBlue h4 a {
        font-weight: normal;
        color: #fff;
        display: inline;
        margin-left: 3px;
    }
/*----tab bar----*/

.tab-nav-lvl1 a {
    font-size: 1em;
    width: auto;
    padding: 16px 14px;
}

.BrightcoveExperience {
    width: 100%;
}
/*--library css--*/

.knowledge-center {
    width: 100%;
    float: left;
}

    .knowledge-center .content h1 {
        font-size: 2.125em;
        color: #5eb9e4;
        font-family: "Prelo Slab W01 Medium", Arial, Helvetica, sans-serif;
        font-weight: normal;
    }

    .knowledge-center h2 {
        color: #004270;
        margin-top: 0;
        font-size: 1.625em;
        line-height: 1.2;
        font-family: "StoneSansITCW01-SemiBol_735693", Arial, Helvetica, sans-serif;
        font-weight: normal;
    }

    .knowledge-center .content h2 {
        margin-top: .1em;
        margin-bottom: .7em;
    }

    .knowledge-center .copy {
        font-size: 1em;
        line-height: 1.4;
        margin: 0 0 2em 0;
        color: #000;
    }

    .knowledge-center .row {
        border-bottom: 1px solid #d1d3d4;
    }

        .knowledge-center .row:last-child {
            border-bottom: none;
        }

        .knowledge-center .row .column {
            float: left;
            width: 49%;
            margin: 1em 0;
        }

            .knowledge-center .row .column:nth-child(even) {
                float: right;
                width: 49%;
            }

            .knowledge-center .row .column img {
                float: left;
                margin-right: 1em;
            }

            .knowledge-center .row .column h3 {
                font-size: 1.125em;
                color: #e11b22;
                line-height: 1.125em;
                margin-bottom: .1em;
            }

            .knowledge-center .row .column p {
                font-size: 0.9em;
                line-height: 1.125em;
            }

                .knowledge-center .row .column p a {
                    text-decoration: none;
                    color: #004270;
                    font-family: arial;
                }

            .knowledge-center .row .column .download-link {
                margin-top: 1.4em;
            }

                .knowledge-center .row .column .download-link a {
                    text-decoration: none;
                    color: #000000;
                    font-weight: bold;
                }

    .knowledge-center .case-studies {
        margin-top: 4.5em;
    }

    .knowledge-center .white-paper {
        margin-bottom: 2em;
        float: left;
        width: 100%;
    }

.tab-nav-lvl1 .tertiaryView {
    background: transparent;
    right: 0px;
    /* position: absolute; */
    width: 100%;
}

.tab-nav-lvl1 > ul li .subCategory {
    display: none;
}

.tab-nav-lvl1 .tertiaryView li {
    margin: 0.875em 0 0 0;
    border: none;
    background: transparent;
    height: 16px;
    font-size: 0.8em;
    color: #404040;
    padding: 0 0.625em;
    border-left: 1px solid #808080;
    text-decoration: none;
    border-radius: 0;
}

    .tab-nav-lvl1 .tertiaryView li:hover {
        margin: 0.825em 0 0 0;
        border: none;
        background: transparent;
        height: 16px;
        font-size: 0.8em;
        color: #404040;
        padding: 0 0.625em;
        border-left: 0.063em solid #808080;
        text-decoration: none;
        border-radius: 0;
    }

        .tab-nav-lvl1 .tertiaryView li:hover a.act {
            font-weight: bold;
        }

    .tab-nav-lvl1 .tertiaryView li:first-child {
        border-left: none;
        padding-left: 0;
    }

    .tab-nav-lvl1 .tertiaryView li:hover a {
        font-weight: normal;
    }

    .tab-nav-lvl1 .tertiaryView li a {
        padding: 0;
    }

.tab-nav-lvl1 li ul {
    display: none;
}

.tab-nav-lvl1 li.active ul {
    display: block;
}

.footer {
    font-size: .8em;
    margin-top: 25px;
}

section.tempSpaceBtm {
    margin-top: 0px !important;
    margin-bottom: 3em !important;
}

section.global.tempSpaceBtm {
    margin-bottom: 2em !important;
}

/*----MEDIA QUERY----*/
/*----320px TO 649px----*/

@media screen and (min-width: 320px) and (max-width: 639px) {
    .tab-nav-lvl1 a.desktopShow {
        display: none;
    }

    .tab-nav-lvl1 a.mobileShow {
        display: block;
    }

    .tab-view {
        width: 100%;
        float: left;
        position: relative;
        display: none;
    }

    .socialButtons {
        margin: 1.3em 0;
    }

    .content .globalReach h1 {
        font-size: 1.563em;
        margin-bottom: .5em;
    }

    .content .globalReach p {
        font-size: 1em;
        line-height: 1.25em;
    }

    .content .subhead1 {
        text-align: center;
    }

        .content .subhead1 img {
            float: none;
            margin: 0em;
            max-width: 100%;
        }

        .content .subhead1 p,
        .content .subhead2 p {
            width: 100%;
            line-height: 1.25em;
            text-align: left;
        }

    .content .subhead2 {
        text-align: center;
    }

        .content .subhead2 p {
            margin-top: 2.8em;
        }

        .content .subhead2 a {
            width: 100%;
            text-align: left;
        }

        .content .subhead2 img {
            margin: 0 0 1.5em 0;
            position: static;
            float: none;
            max-width: 100%;
        }

    .content .table .text {
        border: none;
        width: 100%;
        float: left;
        padding: 1.2em 0;
    }

    .content .table .health h3 {
        width: 65%;
        margin: 1.5em 0 0 1.2em;
    }

    .content .table .health img {
        max-width: 19%;
        margin: 1.6em 0 0 0em;
    }

    .content .global .global1 .gText p,
    .content .global .global1 .gText a {
        font-size: 0.875em;
    }

    .content .global img {
        width: 20%;
    }

    .content .global .gText {
        width: 76%;
    }

    .content .bigBlue .bigBlueImg {
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.5em auto;
    }

    .content .bigBlue .bigBlueImgB {
        float: none;
        width: 52%;
        margin: 0.5em auto;
    }

    .content .bigBlue img {
        width: auto;
    }

    .content .blueBanner p {
        font-size: .85em;
        line-height: 1.375em;
        padding-left: 1.6em;
        width: 58%;
    }

    .content .blueBanner h4 {
        font-size: 1em;
        padding: 1.5em;
        line-height: 1.4em;
    }

    .content .blueBanner p span {
        display: inline;
    }

    .banners {
        width: 100%;
        margin-bottom: 50px;
    }

    .contentB {
        width: 100%;
    }

    .content .subhead1B p,
    .content .subhead2B p {
        width: 100% !important;
    }

    .content .blueBannerB > img {
        right: 3em;
    }

    .tab-nav-lvl1 li {
        margin: 0;
        width: 100%;
        background: #fafafa;
        border-top: 1px solid #d1d3d4;
        border-radius: 0;
        height: auto;
    }

        .tab-nav-lvl1 li:last-child {
            border-bottom: 1px solid #d1d3d4;
        }

            .tab-nav-lvl1 li:last-child:hover {
                border-bottom: 1px solid #d1d3d4;
            }

    .tab-nav-lvl1 a {
        font
    }
    /*--.tab-nav-lvl1 li:hover {
        margin: 0;
        width: 100%;
        background: #fafafa;
        border: none;
        border-top: 1px solid #d1d3d4;
        border-radius: 0;
        height: auto;
    }--*/
    .tab-nav-lvl1 li:hover, .tab-nav-lvl1 .active {
        height: auto;
        border-left: none;
        border-right: none;
        border-color: #d1d3d4;
        border-bottom: none;
    }

    .tab-nav-lvl1 ul {
        width: 100%;
        position: relative;
    }

    .tab-nav-lvl1 > ul > li > a {
        width: auto;
        font-weight: bold;
        text-align: left;
        margin-left: 5%;
        font-size: 1em;
        display: inline-block;
        padding-right: 4vw;
        padding-left: 0;
    }

    .tab-nav-lvl1 li:first-child a {
        padding-left: 0;
    }

    .tab-nav-lvl1 > ul li .subCategory {
        background: url(../images/red-arrow.png) no-repeat right center;
        display: inline-block;
        position: absolute;
        margin: 17px 0px 0px -8px;
        z-index: 10;
        width: 13px;
        height: 12px;
        outline: none;
    }

    .tab-nav-lvl1 .tertiaryView {
        margin-left: 50px;
        z-index: 20;
        display: none;
        position: relative;
        width: 80%;
    }

        .tab-nav-lvl1 .tertiaryView li {
            font-size: 0.9em;
            border: none;
            padding: 0;
            margin: 0;
            height: auto;
        }

            .tab-nav-lvl1 .tertiaryView li a {
                padding: 0.7em 0 0.7em 0;
            }

            .tab-nav-lvl1 .tertiaryView li:hover {
                font-size: 0.9em;
                border: none;
                padding: 0;
                margin: 0;
                height: auto;
            }

                .tab-nav-lvl1 .tertiaryView li:hover a {
                    padding: 0.7em 0 0.7em 0;
                    font-weight: normal;
                }

            .tab-nav-lvl1 .tertiaryView li:last-child {
                margin-bottom: .7em;
            }

        .tab-nav-lvl1 .tertiaryView a {
            font-size: 1em;
        }


    .ques-contact {
        display: none;
    }

    .aon-pages #container {
        width: 100%;
        padding: 0 0%;
        margin: 0 auto;
    }

    .leftBlue > img {
        right: 4em;
    }

    .leftBlue > p {
        width: 90%;
        color: #4d4d4f;
    }

    main {
        width: 90%;
        padding: 0 5%;
    }

    .container .tab-button {
        display: block;
        height: 27px;
    }

    .tab-nav-lvl1 li:hover a,
    .tab-nav-lvl1 .active a {
        color: #000000;
    }

    .BrightcoveExperience {
        width: 100%;
        height: 53vw;
    }
    /*----Library page media query----*/

    .knowledge-center .row .column {
        width: 100%;
    }

        .knowledge-center .row .column:last-child {
            width: 100%;
            float: left;
            margin: 1em 0;
        }

    .knowledge-center .row {
        border-bottom: none;
    }

    .knowledge-center .white-paper h2,
    .knowledge-center .case-studies h2 {
        border-bottom: 1px solid #d1d3d4;
        padding-bottom: .2em;
        font-family: "StoneSansITCW01-SemiBol_735693", Arial, Helvetica, sans-serif;
        font-size: 1.25em;
        font-weight: normal;
    }

    .knowledge-center .content h2 {
        font-size: 1.25em;
        margin-top: 1em;
    }

    .knowledge-center .row .column p {
        display: none;
    }

    .knowledge-center .case-studies {
        margin-top: 3.5em;
    }

    .content h2 {
        margin-top: 0px;
        font-size: 1.25em;
        text-align: left;
    }

    .knowledge-center .white-paper {
        margin-top: 3em;
    }
    /*----Library page media query ends---*/

    section.tempSpaceBtm {
        margin-bottom: 2.5em !important;
    }

    section.global.tempSpaceBtm {
        margin-bottom: 1em !important;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .tab-nav-lvl1 a {
        font-size: .8em;
        width: auto;
        padding: 17px 6px;
    }

    .tab-nav-lvl1 .tertiaryView a {
        font-size: 1em;
    }

    .content .table .health h3 {
        font-size: .9em;
        width: 17%;
        margin: 1.5em 0 0 .7em;
    }

    .content .table .healthB h3 {
        width: 17%;
        margin: 1.7em 0 0 1.125em;
        word-wrap: break-word;
        color: #404040;
    }

    .knowledge-center .row .column .download-link {
        margin-top: 1.2em;
    }

    .content .blueBannerB > img {
        right: 16em;
    }

    .content .table .health img {
        margin: 1.9em 0 0 1em;
        width: 40px;
    }
}

@media screen and (min-width: 769px) and (max-width: 849px) {
    .tab-nav-lvl1 a {
        padding: 17px 10px;
        font-size: .9em;
    }

    .tab-nav-lvl1 .tertiaryView a {
        font-size: 1em;
    }

    .content .table .healthB h3 {
        width: 21%;
        margin: 1.7em 0 0 1.125em;
        word-wrap: break-word;
    }

    .knowledge-center .row .column .download-link {
        margin-top: 1.2em;
    }
}

/*global header and footer*/
@media screen and (min-width: 750px) and (max-width: 800px) {
    #global-header-block {
        width: 100%;
    }

    #header {
        width: 100%;
    }

    div#megamenu-content-block {
        width: 100%;
    }

        div#megamenu-content-block #primary-navigation {
            width: 100%;
        }

    #breadcrumb {
        width: 100%
    }

    .footer {
        width: 100%;
    }
}

/*--Link colors for all the templates--*/
.content .subhead2 a, .content .subhead2 a:hover, .content .table .text a, .content .table .text a:hover, .content .global .gText a, .content .global .gText a:hover, .banners a, .banners a:hover, .knowledge-center .row .column p a, .knowledge-center .row .column p a:hover, .knowledge-center .row .column .download-link a, .knowledge-center .row .column .download-link a:hover {
    text-decoration: underline;
    text-decoration-color: #004270;
    color: #004270;
}
/**mobile breadcrum**/
.container .tab-button {
    float: left;
}



.container .carouselWrapper .thisPage {
    display: none;
    margin-left: 2em;
}

    .container .carouselWrapper .thisPage ul li {
        float: left;
        list-style: none;
        margin-left: .25em;
        font-family: arial;
        font-weight: bold;
    }

        .container .carouselWrapper .thisPage ul li a {
            font-size: 12px;
        }

            .container .carouselWrapper .thisPage ul li a:hover, .container .carouselWrapper .thisPage ul li a:visited {
                color: #4D4D4F !important;
            }

        .container .carouselWrapper .thisPage ul li span {
            display: inline-block;
            margin-right: 4px;
            font-size: 13px;
        }



@media screen and (min-width: 320px) and (max-width: 639px) {
    .container .carouselWrapper .thisPage {
        display: block;
    }
}
