/****************global site styles****************/
body {
	background-color: #fff;
	color: #444;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
a, a:visited, a:hover {
	color: #5988b1;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	border: 0;
}
form {
	margin: 0;
	padding: 0;
}

input {
	margin: 0;
	padding: 0;
}
input:focus {
	outline: none;
}
ul, li {
	list-style: none;	
	margin: 0;
	padding: 0;
}
ol, ol li {
	list-style: decimal;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
p { 
	margin-top: 0; 
	margin-bottom: 15px; 
}
select {
	border: 1px solid #a2a2a2;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 5px 0 10px; 
	width: 180px; 
}
table, td {
	border: 0;
}
/*-----header styles-----*/

h1 {
	color: #739abc;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 1.4em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
h2 {
	color: #888;
	font-size: 1.3em;
	font-weight: normal;
	margin: 5px 0 10px 0;
	padding: 0;
}
.home h2, h2 .title2 {
	font-size: 1.0em;
}
h3 {
	color: #333;
	font-size: 1.0em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
h3.snavtext {
	display: block;
	float: none;
	color: #739abc;
	font-size: 1.2em;
	margin-bottom: 10px;
}
h4 {
	color: #333;
	font-size: 1.0em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
h5, h6 {
	color: #333;
	font-size: .9em;
	margin: 0;
	padding: 0;
}

@font-face { 
	font-family: PreloSlab;
	src: url('/code/fonts/preloslab-medium-webfont.eot');
	src:	url('/code/fonts/preloslab-medium-webfontt.svg') format('svg'),
			url('/code/fonts/preloslab-medium-webfont.ttf') format('ttf'),
			url('/code/fonts/preloslab-medium-webfont.woff') format('woff'),
			url('/code/fonts/preloslab-medium-webfont.eot') format('eot');
 	font-weight: normal; font-style: normal;
}

.headertext {
	width: 100%; border-bottom: 1px solid #666; margin-bottom: 10px; 
	color: #666; font: 25px PreloSlab; line-height: 25px; 
}
/****************top links and search****************/
.global_top {
	margin: 5px 0;
	position: relative;
	width: 100%;
	z-index: 100;
}
#toplinks {
	float: left;
	width: 640px;
}

#toplinks a {
	color: #4c4c4c;
	font-weight: bold;
}
#toplinks a:hover {
	color: #E11B22;
	font-weight: bold;
}
#toplinks a.highlight {
	color: #E11B22;
	font-weight: bold;
}

#toplinks ul {
	float: right;
	margin-top: 3px;
}
#toplinks li {
	background: url(/siteImages/sm_arrow.gif) 2px 4px no-repeat;
	color: #4c4c4c;
	float: left;
	font-size: 1.1em;
	margin-right: 10px;
	padding-left: 12px;
}
#searchform {
	float: right;
	position: relative;
	right: 20px;
	width: 154px;
}
.searchbox {
	background: url(/siteImages/search_bg.gif) no-repeat top right;
	border: none;
	color: #4c4c4c;
	font-family: "Century Gothic", "Lucida Sans";
	font-size: 1em;
	float: left;
	height: 16px;
	overflow: hidden;
	padding: 3px 0 3px 10px;
	position: relative;
	left: 0;
	width: 141px;
}
#searchbtn {
	position: absolute;
	/* bottom: 2px; */
	right: -18px;
}
.head_slogan {
    display: none; /*hide descriptor links-AK*/
}

/****************global dropdown navigation****************/
#header {
	display: block;
	position: relative;
	width: 850px;
	z-index: 1000;
}
#global_nav {
	margin: 0;
	width: 100%;
}
#global_nav img {
	float: left;
	margin-right: 2px;
}
#global_menu a {
	color: #4c4c4c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.2em;
	padding: 10px 0;
}
#global_menu .on a {
	color: #E11B22;
}
#global_menu li a:hover, #global_menu li.over a {
	color: #E11B22;
}
#global_menu li.over a {
	border-bottom: 1px solid #fff;
	padding: 10px 0 9px 0;
}	
#global_menu li.over ul a {
	color: #4c4c4c;
	font-size: 1em;
}
#global_menu li.over ul a {
	border: 0;
}
#global_menu li li {
	background:	#FFF;
}
#global_menu a:hover {
	text-decoration: none;
}
#global_menu li a {
	z-index: 1000;
}
#global_menu li ul {
	margin-top: -1px;
	z-index: 10;
}
#global_nav ul {
	background-color: #fff;
	float: left;
	font-size: 1.1em;
	vertical-align: middle;
}
#global_nav ul li {
	float: left;
	position: relative;
}
#global_nav ul li a {
	display: block;
	position: relative;
}
#global_nav ul li ul a {
	border: none;
}
#global_nav ul li ul a:hover {
	color: #5988b1;
}
#global_nav ul li ul {
	border: 1px solid #dcdcdc;
	display: none;
	font-size: .9em;
	height: auto;
	padding: 5px 0;
	position: absolute;
	left: 0;
	width: 100%;
}
#global_nav ul li.over ul, #global_nav ul li:hover ul {
	display: block;
}
#global_nav ul li ul li ul {
	background-color: transparent;
}
#global_nav ul li ul li {
	float: left;
	padding: 0;
	width: 100%;
}
#global_nav ul li ul li a {
	height: auto;
	padding: 8px 0 0 20px;
	width: auto;
}
#global_nav ul li.over ul li a {
	padding: 8px 0 0 20px;
}
#global_nav .nav_home {
	margin: 0 5px 0 0;
	width: 115px;
}
#global_nav .nav_prod {
	margin-right: 5px;
	position: relative;
	width: 194px;
}
#global_nav .nav_prod a {
	margin: 0 auto;
	text-align: center;
	width: 176px;
}
#global_nav .nav_prod ul a {
	text-align: left;
	width: auto;
}
#global_nav .nav_prod ul {
	float: left;
	margin-left: 8px;
	padding: 5px 20px 8px 10px;
	text-align: left;
	width: 545px;
}
#global_nav .nav_prod ul li {
	color: #5987b0;
	float: left;
	font-size: 1em;
}
#global_nav .nav_prod ul li, #global_nav .nav_prod ul li ul {
	border: none;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	left: 0;
}
#global_nav .nav_prod ul li ul li, #global_nav .nav_prod ul li ul li a {
	padding: 0;
}
#global_nav .nav_prod ul #link_category {
	width: 96px
}
#global_nav .nav_prod ul #link_category ul {
	width: 83px;
}
#global_nav .nav_prod ul #link_category .sublist {
	float: left;
	margin-top: 5px;
	padding: 7px;
	width: 83px;
}
#global_nav .nav_prod ul #link_category .sublist a {
	font-size: 1.1em;
	padding: 0;
}
#global_nav .nav_prod ul #link_category .sublist img {
	float: none;
	margin-top: 3px;
}
#global_nav .nav_prod ul #link_category ul li ul {
	display: none;
}
#global_nav .nav_prod ul #link_series {
	margin-left: 15px;
	padding-top: 13px;
	width: 410px
}
#global_nav .nav_prod ul #link_series ul {
	float: left;
	margin-left: 15px;
	width: 180px;
}
#global_nav .nav_prod ul #link_series ul li {
	padding-bottom: 6px;
}
#global_nav .nav_prod ul #link_series a {
	color: #4c4c4c;
	font-weight: bold;
	font-size: 1.1em;
}
#global_nav .nav_prod #link_series li a:hover {
	color: #5988b1;
}
#global_nav .nav_prod .sub {
	padding-left: 10px;
	width: 170px;
}
#global_nav .nav_prod ul #link_category ul li.selected .sublist, #global_nav .nav_prod ul #link_category ul li:hover .sublist {
	background-color: #e5e5e5;
}
#global_nav .nav_prod ul li a {
	color: #5987b0;
	font-size: 1em;
}
#global_nav .nav_prod:hover, #global_nav #nav_prod.over {
	background: url(/siteImages/nav_prod_sel.gif) 0 0 repeat-y;
}
.show {
	display: block;
	visibility: visible;
}
#global_nav .nav_about {
	margin: 0 5px;
	text-align: center;
	width: 194px;
}
#global_nav .nav_about a {
	margin: 0 auto;
	text-align: center;
	width: 176px;
}
#global_nav .nav_about ul {
	margin-left: 8px;
	text-align: left;
}
#global_nav .nav_about ul a {
	text-align: left;
}
#global_nav .nav_about:hover, #global_nav #nav_about.over {
	background: url(/siteImages/nav_prod_sel.gif) 0 0 repeat-y;
}
#global_nav .nav_contact {
	text-align: center;
	margin-right: 5px;
	width: 160px;
}
#global_nav .nav_worldwide {
	text-align: right;
	width: 160px;
}
/****************rotating banner and progress bar styles***********************/
#bannerImg img {
	display: block;
}
#banner {
	position: relative;
}
#imgHolder {
	height: 265px;
	overflow: hidden;
	position: relative;
	width: 850px;
}
#progress {
	background: url(/siteImages/progress_bg.gif) top left repeat-x;
	display: none;
	float: left;
	height: 22px;
	margin-top: 0;
	width: 850px;
}
#prog_area {
	margin: 5px auto;
	position: relative;
	height: 10px;
	width: 62px;
}
#prog_area img {
	cursor: pointer;
	float: left;
	margin: 1px 5px 0 5px;
}
#progbox_holder {
	float: left;
}
.progbox {
	background: #FFF url(/siteImages/progbox_bg.gif) top left repeat-x;
	border: 1px solid #000;
	cursor: pointer;
	float: left;
	height: 10px;
	margin: 0 5px;
	overflow: hidden;
	width: 20px;
}
.indicator {
	background-color: #739abc;
	float: left;
	height: 10px;
	width: 0;
}
/****************'additional images' styles*************/
.add_img_1 {
	margin-top: 6px;
	margin-bottom: 20px;
}
.add_img_2 {
	float: left;
	margin-top: 12px;
	margin-bottom: 20px;
}
.add_img_2.last {
	float: right;
}
/****************'bottom bucket' styles*************/
.bottom_bucket {
	border-bottom: 1px dotted #6d787d;
	float: left;
	margin-right: 64px;
	margin-top: 30px;
	padding-bottom: 5px;
	position: relative;
	width: 240px;
}
.bottom_bucket.last {
	margin-right: 0;
}
.endcap {
	display: block;
}
.endcapleft {
	float: left;
	margin-bottom: 8px;
}
.bottom_bucket .heading {
	background: #FFF url(/siteImages/bucket_bg.jpg) bottom left repeat-x;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	height: 30px;
	position: relative;
	width: 238px;
}
.bottom_bucket .heading h2 {
	color: #4b4b4b;	
	font-size: 1.1em;
	font-weight: 600;
	height: auto;
	margin: 0;
	position: relative;
	left: 70px;
	width: 140px;
}
.bottom_bucket .icon {
	position: absolute;
	bottom: -5px;
	left: 0;
}
.bottom_bucket ul {
	margin-top: 5px;
}

 .bottom_bucket ul li {
   background: url(/siteImages/lg_arrow.gif) 98% 50% no-repeat;
   display: block;
   font-size: 1.1em;
   width: 240px;
}



.bottom_bucket ul li a:visited, .bottom_bucket ul li a:hover {
	color: #000;
}
.bottom_bucket ul li a {
	color: #000;
	display: block;
	padding: 5px 20px 5px 0;
	width: 220px;
}
.bottom_bucket ul li a:hover {
	background: #dee8f1 url(/siteImages/lg_arrow.gif) 98% 50% no-repeat;
	text-decoration: none;
}
.view_link {
	display: block;
	margin-top: 8px;
	position: relative;
}
.view_link img {
	margin-right: 5px;
}	
.view_link a {
	font-weight: bold;
}
/*-----breadcrumbs-----*/
#breadcrumb {
	color: #6c777d;
	float: left;
	font-size: .9em;
	margin: 13px 10px 0 0;
	padding-bottom: 5px;
	width: 840px;
}
#breadcrumb a, #breadcrumb a:active {
	color: #6c777d;
}
#breadcrumb a:hover {
	color: #5987b0;
	text-decoration: underline;	
}
#breadlinks1 {
	color: #4c4c4c;
	float: left;
}
#breadlinks1 a {
	color: #6c777d;
}
#breadlinks1 a:hover {
	color: #6c777d;
	text-decoration: underline;
}
#breadlinks2 {
	float: right;
}
.breadlink {
	color: #6c777d;
	font-size: .9em;
}
/*-----main page content-----*/
#container {
	margin: 0 auto;
	width: 850px;
}
.full {
	float: left;
	margin: 13px 0 21px 0;
	position: relative;
	width: 850px;
	z-index: 500;
}
.onethird {
	clear: none;
	float: left;
	width: 300px;
}
.onethird.lmargin {
	margin: 0 0 0 10px;
	width: 284px;
}
.onethird.lmargin ul{
	padding: 10px 0 0;
	list-style-type: none;
	float: none;
	margin: 0 0 10px;	
	clear: both
}
.onethird.lmargin ul li {
	margin: 0;
}
.onethird.lmargin ul.subnavmenu, .onethird.lmargin ul.subnavmenu ul li {
    margin: 0;
	padding: 0;
}
.onethird.lmargin ul.subnavmenu ul li {
	background: #fff;
	display: block;
}
.onethird.lmargin ul.subnavmenu ul {
    margin: 0;
	padding: 0 0 0 10px;
}
.onethird.lmargin ul.subnavmenu li {
	background: #FFF;
	cursor: pointer;
	display: block;
	padding: 0;
	position: relative;
	width: 240px;	
}
.onethird.lmargin ul.subnavmenu li a {
	background: url(/siteImages/lg_arrow.gif) 98% 50% no-repeat;
	color: #444;
	display: block;
	padding: 5px 0;
	width: 240px;
}
.onethird.lmargin ul.subnavmenu li a:hover {
	text-decoration: none;
}
.onethird.lmargin ul.subnavmenu li.open a {
	background: #d5e1eb url(/siteImages/blue_arrow_down.gif) 98% 50% no-repeat;
	display: block;
	width: 240px;
}
.onethird.lmargin ul.subnavmenu li.over a {
	background-color: #d5e1eb;
}
.onethird.lmargin ul.subnavmenu li.open ul li a, .onethird.lmargin ul.subnavmenu li ul li a {
	background-color: #FFF;
	background-image: none;
	color: #5988B1;
	padding: 2px 0;
	display: inline;
	width: auto;
}
.onethird.lmargin ul.subnavmenu li.open ul li a:hover {
	text-decoration: underline;
}
.onethird.lmargin ul.subnavmenu li ul {
	margin: 1px 0;
}
.onethird.lmargin ul.subnavmenu li ul li {
	padding: 2px 0;
}

.twothirds {
   float: left;
   font-size: 1.1em;
   width: 550px;
} 

.twothirds h1 {
   font-size: 1.2em;
} 

.twothirds h2 {
   font-size: 14px;
} 


.twothirds.inner {
	margin: 10px 0 0 0;
	width: 500px;
}
.twothirds .listinner {
	margin: 10px 0 0 0;
	width: 550px;
}	
.twothirds .col180 {
	float: left;
	width: 180px;
}
.twothirds .nobold {
	font-weight: normal;
}
.twothirds ol, .twothirds ul, .twothirds dl {
	font-weight: normal;
	margin: 0 8px 10px 0;
	color: #444; 
}
.twothirds ul li {
	background: url(/siteImages/bullet.gif) 0 6px no-repeat;
	font-weight: normal;
	padding-left: 10px;
}
.twothirds .nobold li {
	background: none;
}
.twothirds li {
	padding: 2px 0;
}
.twothirds ul ul, .twothirds ol ol, .twothirds ol ul{
	float: none;
	margin: 0 0 0 8px;
	padding: 0;
	font-weight: normal;
}
#emailerr, #emailtoerr, #emailfromerr {
	display: none;
}
/*-----right nav styles-----*/
#contact {
	float: left;
	width: 275px;
}
.contact {
	width: 283px;
	padding-left: 6px;	
	position: relative;
	margin: 6px 0 0 0;	
}
.contact img {
	display: block;
}
.contactform {
	background: url(/siteImages/form_back.gif) top left repeat-y;
	margin-bottom: 10px;
	position: relative;
	width: 269px;
}
.contactform #C_State, .contactform #C_City {
	display: none;
}
.contactform p {
	margin-left: 8px;
	padding: 10px 0;
}
.contactform label {
	color: #666;
	font-size: .9em;
	margin-left: 8px;
}
.contactform label.error, .error {
	color: #FF0000;
	font-size: .9em;
	font-weight: bold;
}
.contactform input {
	border: 1px solid #999;
	font-size: 1.1em;
	margin: 0 0 8px 7px;
	width: 252px;
}
.contactform textarea {
	border: 1px solid #999;
	color: #6c777d;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	margin: 0 0 8px 7px;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden; 
	width: 252px;
}
.contact #closeform {
	color: #000;
	display: none;
	float: left;
	font-size: 1em;
	margin: 20px 0 10px 5px;
	text-decoration: underline;
	width: 80px;
}
.contact #submit {
	border: 0;
	float: right;
	margin: 18px 15px 5px 0;
}
#expand {	
	float: right;
	margin: 0 5px 0 0;
}
.info {
	background: #d3dbe2 url(/siteImages/info_back.jpg) top left repeat-x;
	border-left: 1px solid #c3cace;
	border-right: 1px solid #c3cace;
	float: left;
	margin: 0;
	padding: 10px 0 0 0;
	position: relative;
	width: 281px;
}
.info img {
	display: block;
}
.required {
	color: #333;
	display: block;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: .9em;
	left: 190px;
	margin-bottom: 3px;
	position: relative;
	width: 100px;
}
#reqtitle {
	color: #000;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	padding: 0 0 10px 0;
	position: relative;
	left: 15px;
	font-weight: bold;
	width: 180px;
}
button{
	border:none;
	background:none;
	cursor: pointer;
	padding:0;
	margin:0;
	width:auto;
	overflow:visible;					
	text-align:center;	
	white-space:nowrap;	
	height:24px;
	line-height:21.5px;			
}
button span, button em{
	display:block;
	height:22px;
	line-height:21.5px;			
	margin:0 ;
	color:#fff;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
button span{
	padding-left:8px;
	background:url(/siteImages/button_bg.gif) no-repeat 0 0;
}	
button em{
	font-style:normal;
	padding-right:18px;
	background: #FFF url(/siteImages/button_bg.gif) no-repeat 100% 0;
}
#contact button em {
	background: #d3dbe2 url(/siteImages/button_bg.gif) no-repeat 100% 0;
}
#eform button em {
	background: #d3dbe2 url(/siteImages/button_bg.gif) no-repeat 100% 0;
}
#expand em {
	background: #dfe3ec url(/siteImages/button_bg.gif) no-repeat 100% 0;
}
/*-----dropdown subnav styles-----*/
.subnav {
	padding-left: 8px;
	position: relative;
	width: 282px;
}
.subnav .imglink {
	clear: both;
	float: left;
}
.subnav .imglink img {
	 float: left;
}
.subnav .imglink a {
	float: left;
	padding-top: 10px;
	padding-left: 5px;
}
.subnav ul {	
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 15px;
	width: 280px;
	padding: 7px 0 7px 0;
}

div ul.rcolbullets {	
	list-style: circle;
}

.subnav li {
	background: none;
	color: #666;
	float: left;
	margin: 0;
	position: relative;
	width: 275px;
}
.snav .explink {
	font-weight: bold;
	margin: 0 0 8px 7px;
}
.snav {
	position: relative;
	width: 282px;
}
.right_bucket {
    border-top: dotted 1px #666666;
	clear: both;
	float: none;
	padding: 8px 0;
	width: 282px;
}
.right_bucket select {
	display: block;
	margin: 2px 0 10px 0;  
	position: relative;
	top: 5px;
}
.right_bucket form p {
	margin: 7px 0;
}
.right_bucket .contactform select {
	border: 1px solid #999;
	font-size: 1.1em; 
	margin: 0 0 8px 7px;
	width: 252px;
}
.right_bucket .snav label {
	color: #666;
	display: block;
	position: relative;
	top: 3px;
}
/**************worldwide page countries table******************/
.sort {
	color: #666;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.sort a {
	margin-left: 10px;
}
#countries {
	border: 0;
	color: #666;
	margin: 0;
	padding: 0;
	margin-top: 2px;
	text-align: left;
	width: 524px;
}
#countries th {
	border-top: 1px dotted #6d787d;
	border-bottom: 1px dotted #6d787d;
	text-align: left;
	padding: 5px 0;
}
#countries td {
	padding: 3px 0;
}
#countries a, #countries a:hover {
	color: #666;
}
#countries tr td.rowOver1 {
	background: #d5e1eb;
}
#countries tr td.rowOver2 {
	background: #d5e1eb url(/siteImages/lg_arrow.gif) 98% 50% no-repeat;
}
#countries tr td.rowOver1 a:hover, #countries tr td.rowOver2 a:hover {
	text-decoration: none;
}
#countries tr:hover th {
	background: #fff;
}
/*********country home page**************/
.country_label {
	color: #739abc;
	position: absolute;
	bottom: 0;
	right: 0;
}
.country_label a {
	margin: 0 5px;
}
.country_label .country {
	color: #7f7f7f;
	margin: 0 5px 0 10px;
}
/*********search results page**************/
#searchpg {
	margin: 10px 0 15px 0;
	position: relative;
}
#searchpg .search_area {
	display: block;
	height: 17px;
	margin-bottom: 10px;
	position: relative;
	width: 230px;
}
#searchpg_submit {
	border: 0;
	position: absolute;
	top: 0;
	right: 0;
}
#searchpg input {
	color: #666;
	font-size: 1em;
	margin: 0;
}
#searchpg label {
	color: #666;
	margin-right: 10px;
}
#searchpg .txtbox {
	border: 1px solid #d3d6d8;
	height: 13px;
	margin-bottom: 10px;
	padding: 2px 0;
	width: 230px;
}
#searchpg #searchfield {
	border-right: 0;
	position: absolute;
	top: 0;
	width: 211px;
}
.searchpage {
	color: #434343;
	font-weight: bold;
	margin-bottom: 20px;
}
.pagination {
	margin: 0 10px;
}
.search_res a {
	font-weight: bold;
}
/******footer styles******/
.footer {
	clear: both;
	color: #6c777d;
	float: left;
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 30px;
	padding-bottom: 20px;
	position: relative;
	text-align: center;
	width: 850px;
	z-index: 1; 
}
.footer a, .footer .linkspace {
	margin: 0px;
}	
.footer a, .footer a:visited {
	color: #6c777d;
}
.footer a:hover {
	color: #5988b1;
}

.footer td.images {
  border-left-width: 0px;
}

.footer td.images a img {
  display: inline-block;
  margin-left: 5px;
  float: left;
}

.footer #lang_main {
	display: inline;
	position: relative;
}
.footer #lang_holder {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
}
.footer #languages {
	background-color: #FFF;
	border: 1px solid #9c9c9c;
	color: #000;
	font-weight: normal;
	padding: 5px 0;
	position: absolute;
	bottom: 20px;
	left: 50%;
	text-align: left;
	width: 150px;
}
.footer #lang_arrow {
	bottom: 15px;
	left: 50%;
	position: absolute;
}
.footer #languages a {
	color: #000;
	margin: 0;
	padding: 0;
}
.footer #languages li {
	padding-bottom: 5px;
	padding-left: 18px;
}
/***********email form styles**************/
#email_holder {
	position: absolute;
	left: 35%;
	top: 20%;
	z-index: 2000;
	width: 310px;
}
#shim {
	border: 0;
	position: absolute;
	left: 35%;
	top: 20%;
	width: 332px;
	z-index: 1900;
}
#emailform {
	background: #d3dbe2 url(/siteImages/email_back.jpg) top left repeat-x;
	border-left: 1px solid #95a0a9;
	border-right: 1px solid #95a0a9;
	padding: 13px 9px 0 8px;
	position: relative;
	width: 313px;
}
#emailform #submit {
	border: 0;
	bottom: 0;
	cursor: pointer;
	height: 41px;
	position: absolute;
	right: 10px;
	width: 109px;
}
#emailform #closebtn {
	border: 0;
	cursor: pointer;
	height: 35px;
	position: relative;
	left: 220px;
	width: 86px;
}
#emailform #closeemail {
	cursor: pointer;
	position: relative;
	left: 290px;
}
#emailform .recap {
	display: block;
	font-size: 1em;
	padding-bottom: 30px;
	position: relative;
}
#emailform #recaptcha_response_field {
	width: 210px;
}
#emailform h1 {
	color: #010101;
	font-size: 1.8em;
	text-align: center;
}
#emailform .required {
	text-align: right;
}
#emailform .email {
	background-color: #e9edf1;
	margin: 15px 0 12px 0;
	padding: 13px 7px 7px 7px;
	width: 295px;
}
#emailform label {
	color: #666;
	display: block;
	margin: 5px 0 1px 0;
}
#emailform .error {
	color: #FF0000;
	font-size: 1em;
	font-weight: bold;
}
#emailform input {
	border: 1px solid #b1b1b1;
	color: #888;
	font-size: 1.1em;
	padding: 1px 0;
	width: 295px;
}
#emailform textarea {
	border: 1px solid #b1b1b1;
	color: #888;
	font-size: 1.1em;
	width: 295px;
}
#recaptcha_image {
	margin: 12px auto 5px auto;
}
#recaptcha_response_field {
	position: relative;
	top: -4px;
}

/* Begin 401(k) Index table styles */

td.chart, td.charttop, td.charttoggle
{
	color:		#424242;
	margin:		0;
	padding:	0;
	text-align:	center;
	vertical-align: bottom;
	font-size:	10px;
	line-height: 12px;
	width:	    92px;
	height:     19px;
}

td.charttopwide
{
	color:		#424242;
	margin:		0;
	padding:	0;
	text-align:	center;
	vertical-align: bottom;
	font-size:	10px;
	line-height: 12px;
	width:	    276px;
	height:     19px;
}


td.chart2, td.charttop2, td.charttoggle2
{
	color:		#424242;
	margin:		0;
	padding-left:	5px;
	padding-top:	5px;
	text-align:	left;
	vertical-align: top;
	font-size:	10px;
	line-height: 12px;
	width:	    184px;
	height:     19px;
}

td.chart3, td.charttop3, td.charttoggle3
{
	color:		#424242;
	margin:		0;
	padding-left:	5px;
	padding-top:	5px;
	text-align:	left;
	vertical-align: top;
	font-size:	10px;
	line-height: 12px;
}

td.chart, td.charttoggle, td.chart2, td.charttoggle2, td.chart3, td.charttoggle3
{
	border-bottom-style: solid;
	border-bottom-color: #D6D6D6;
	border-bottom-width: 1px;
}

td.charttop, td.charttop2, td.charttop3
{
	color:			  #424242;
	font-weight:	  bold;
}
td.charttoggle, td.charttoggle2, td.charttoggle3
{
	background-color: #F3F3F3;
}
table.charthead
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color:#4C4C4C;
	border-top-color:#4C4C4C;
	background-color: #CDDBE7;
}

/* End 401(k) Index table styles */

/* Begin Thought Leadership content styles */

#tlcontentblock
{
	width: 550px;
}		

#tlcontentblock .tlimage-articles
{
	margin-left: 0px;
	background: url(/images/thought-leadership/icons-large/articles-big.jpg) no-repeat;
	float: left;
}

#tlcontentblock .tlimage-microsites
{
	margin-left: 0px;
	background: url(/images/thought-leadership/icons-large/microsites-big.jpg) no-repeat;
	float: left;
}	

#tlcontentblock .tlimage-podcasts
{
	margin-left: 0px;
	background: url(/images/thought-leadership/icons-large/podcasts-big2.jpg) no-repeat;
	float: left;
}

#tlcontentblock .tlimage-reports-pubs
{
	margin-left: 0px;
	background: url(/images/thought-leadership/icons-large/reports-publications-big.jpg) no-repeat;
	float: left;
}

#tlcontentblock .tlimage-survey-results
{
	margin-left: 0px;
	background: url(/images/thought-leadership/icons-large/survey-results-big.jpg) no-repeat;
	float: left;
}	

#tlcontentblock .tlimage-videos
{
	margin-left: 0px;
	background: url(/images/thought-leadership/icons-large/videos-big.jpg) no-repeat;
	float: left;
}

#tlcontentblock .tlimage-webcasts
{
	margin-left: 0px;
	background: url(/images/thought-leadership/icons-large/webcasts-big.jpg) no-repeat;
	float: left;
}	

#tlcontentblock .tlimage-appearances
{
	margin-left: 0px;
	background: url(/images/thought-leadership/icons-large/appearances-big.png) no-repeat;
	float: left;
}		

#tlcontentblock .tlcontent
{
	width: 510px;
	margin-left: 40px;
}

	
/* End Thought Leadership content styles */


.tablebullet 
{
	background: url(/siteImages/bullet.gif) 0 6px no-repeat;
	font-weight: normal;
}

/****************tabbed panels-affinity****************/

.tabPanelGroup {
  position:relative;
  overflow:hidden;
  background:#CFD4E6;
}
.tabGroup {
  padding:4px 0 0 0;
  overflow:hidden;
  background:#FFF;
}
.tabPanel {
  padding:10px;
  color:#000;
  background:#F4F4F4;
  border-top:1px solid #596380;
  border-right:1px solid #596380;
  border-bottom:1px solid #596380;
  border-left:1px solid #596380;
margin-top: -1px;
}
.tabDefault {
  padding:2px;
  background:#FFF;
}
.tabSelected {
  padding:2px;
  color:#000;
  background:#CFD4E6;
}

/* */

.tabGroup a.tabDefault:link,
.tabGroup a.tabDefault:visited,
.tabGroup a.tabDefault:active,
.tabDefault {
  overflow:hidden;
  cursor:pointer;
  background:#596380;
  color:#ccc;
  font-weight:normal;
  text-align:center;
  text-decoration:none;
  border-top:1px solid #596380;
  border-right:1px solid;
  color:#FFFFFF;
  border-bottom:none;
  border-left:1px solid #596380;
}
.tabGroup a.tabDefault:hover,
.tabDefault:hover {
  overflow:hidden;
  cursor:pointer;
  background:#596380;
 color:#FFFFFF;
  font-weight:normal;
  text-align:center;
  text-decoration:none;
  border-top:1px solid #596380;
  border-right:1px solid #596380;
  border-bottom:none;
  border-left:1px solid #596380;
}

.tabGroup a.tabSelected:link,
.tabGroup a.tabSelected:visited,
.tabGroup a.tabSelected:active,
.tabGroup a.tabSelected:hover,
.tabSelected {
  overflow:hidden;
  cursor:pointer;
  background:#F4F4F4;

  text-align:center;
  text-decoration:none;
  border-top:1px solid #596380;
  border-right:1px solid #596380;
  border-bottom:none;
  border-left:1px solid #596380;
}

/* Proeprty Matters Nav */
.onethird.lmargin ul.prop, .onethird.lmargin ul.prop ul li {
    margin: 0;
	padding: 0;
}
.onethird.lmargin ul.prop ul li {
	background: #fff;
	display: block;
}
.onethird.lmargin ul.prop ul {
    margin-left: -18px;
	padding: 0 0 0 0px;
}
.onethird.lmargin ul.prop li {
	background: #FFF;
	cursor: pointer;
	display: block;
    margin-left: -18px;

	position: relative;
	width: 240px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000000;	
}
.onethird.lmargin ul.prop li a {
	background: url(/siteImages/lg_arrow.gif) 98% 50% no-repeat;
	color: #444;
	display: block;
	width: 240px;
font-size: 12px;

	padding: 15px 0px 15px 0px;
}
.onethird.lmargin ul.prop li a:hover {
	text-decoration: none;

background-color: #d5e1eb;
background-image: url(/siteImages/lg_arrow.gif) 98% 50% no-repeat;
}
.onethird.lmargin ul.prop li.open a {
	background: #D3CD8B url(/siteImages/blue_arrow_down.gif) 98% 50% no-repeat;
	display: block;
	width: 240px;
}
.onethird.lmargin ul.prop li.over a {
	background-color: #D3CD8B;
}
.onethird.lmargin ul.prop li.open ul li a, .onethird.lmargin ul.prop li ul li a {
	background-color: #FFF;
	background-image: none;
	color: #5988B1;
	padding: 2px 0;
	display: inline;
	width: auto;
}
.onethird.lmargin ul.prop li.open ul li a:hover {
	text-decoration: underline;
}
.onethird.lmargin ul.prop li ul {
	margin: 1px 0;
}
.onethird.lmargin ul.prop li ul li {
	padding: 2px 0;
}

/****************begin ars thought leadership guide styles****************/

.ars_tl_column {position:relative;float:left;width:189px;margin-right:30px;text-align:left;padding-bottom:24px;}

.ars_tl_last {position:relative;float:left;width:190px;padding-bottom:24px; margin:0 3px 0 0;}


.ars_tl_map {position:relative;float:left;width:264px;margin-right:30px;text-align:left;padding-bottom:24px;}

#ars_tl_publications{position:relative;margin-top:20px;width:100%;margin-bottom:60px;font-size:13px !important;}


#ars_tl_content {max-width:70em;width:100%;margin:0 auto;padding-bottom:20px;overflow:hidden}
.ars_tl_shelf {border-top:1px solid #bbb;position:relative;overflow:hidden;width:100%;}

.ars_tl_row {position:relative;width:100%;height:auto;text-align:left;overflow:auto;}

.ars_tl_shelf img {margin-top:22px;}
.ars_tl_collapse {font-color:red;}
.ars_tl_top{font-size:.9em; text-align:right}
#ars_tl_switch, .ars_tl_switch {margin-bottom:5px; text-align:right}

/* --- Headings  --- */
#ars_tl_publications h1{margin-top:8px;margin-bottom:6px;font-family:arial,sans-serif;font-size:20px;font-weight:bold;color:#ccc;}
#ars_tl_publications h2{margin-top:14px;margin-bottom:0;padding:0;font-family:arial,sans-serif;font-size:14px;font-weight:bold;color:#000;}
#ars_tl_publications h3{font-family:arial,sans-serif; font-size:12px; font-weight:bold;color:#777;}
#ars_tl_publications h4{margin:6px 0; font-family:arial,sans-serif;font-size:12px;font-style:italic;font-weight:normal;color:#e11b22;}

.ars_tl_title {color:#777;font-size:17px;}
.ars_tl_new{color:#000;}

.ars_tl_expand a {display:block;text-decoration:none;}
.ars_tl_expand a:link, .ars_tl_expand a:visited {color:#777;}
.ars_tl_expand a:hover{color:#000;}
.ars_tl_expand a.open:link, .expand a.open:visited {color:#000;}

.ars_tl_non_expand a {display:block;text-decoration:none;}
.ars_tl_non_expand a:link, .ars_tl_non_expand a:visited {color:#777;}
.ars_tl_non_expand a:hover{color:#000;}

/****************end ars thought leadership guide styles****************/

/* -------- Callouts -------- */
ul.horizontal-callouts-block {
  list-style-type:none;
  padding:0;
  margin:0 0 50px 0;
  height:300px;
}
ul.horizontal-callouts-block li {
  display:inline-block;
  margin:0;
  padding:0;
  height:100%;
  vertical-align:top;
  position:relative;
  width:240px;
  zoom:1;
  *display:inline;
}
ul.horizontal-callouts-block li.last { margin:0;width:220px; }
ul.horizontal-callouts-block li div.callouts-block { 
  top:0;
  left:0;
  position:absolute;
}
div.callouts-block {
 background-color:#fff;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -khtml-border-radius:4px;
  border-radius:4px;
  border:2px solid #ccc;
  width:220px;
  height:100%;
  margin:0 0 25px 0;
  padding:0;
  position:relative;
}
div.callouts-block .bottom { position:absolute;bottom:15px;left:10px; }
div.callouts-block div.header {
  font-weight:700;
  line-height:27px;
  background-image:url(/siteImages/callout_header_bg.png);
  background-repeat:repeat-x;
  padding:0 10px 15px 10px;
  font-size:13px;
  color:#111;
}
div.callouts-block div.header-xl {
  font-weight:700;
  height:40px;
  background-image:url(/siteImages/callout_header_bg_xl.png);
  background-repeat:repeat-x;
  padding:5px 10px 15px 10px;
  font-size:13px;
  color:#111;
}

div.callouts-block div.callout {
  width:200px;
  margin:0 0 15px 0;
  padding:0 10px 20px 10px;
  border-bottom:1px solid #dedede;
}
div.callouts-block div.callout.last { border-bottom:none;margin:0; }
div.callouts-block div.callout div { font-size:15px;width:200px; }
div.callouts-block div.callout div.title { padding:0 0 20px 0;font-weight:700; }
div.callouts-block div.callout img.full_image {
  border:1px solid #dedede;
  padding:0;
  margin:0 0 15px 0;
  display:block; 
}
div.callouts-block div.callout div.name {
  padding:0 0 8px 0;
  font-weight:700;
  color:#4d4f53;
  font-size:12px;
  line-height:12px;
}
div.callouts-block div.callout div.job-title {
  padding:0 0 15px 0;
  color:#4d4f53;
  font-size:12px;
  line-height:12px;
}
div.callouts-block div.callout div.text {
  padding:0 0 15px 0;
  color:#4d4f53;
  font-size:11px;
  line-height:17px;
}
div.callouts-block div.callout label { padding:0 0 4px 0;color:#4d4f53;font-size:12px;line-height:12px; }
div.callouts-block div.callout .extra_padding_below { padding-bottom:20px !important; }
div.callouts-block div.callout .extra_padding_above { padding-top:20px !important; }
div.callouts-block div.callout .extra_margin_above { margin-top:20px !important; }
div.callouts-block div.callout a.link_with_arrow {
  color:#0083a9;
  background-image:url(/siteImages/blue-arrow.png);
  background-repeat:no-repeat;
  background-position:right 2px;
  padding:0 10px 8px 0;
  display:inline;
  width:auto;
  font-size:12px;
  line-height:12px;
}
div.callouts-block div.callout a.last { padding:0 10px 0 0; }
div.callouts-block div.callout select { width:200px;margin:0 0 8px 0; }
div.callouts-block div.callout select.last { width:200px;margin:0 0 20px 0; }
div.callouts-block div.callout img.button { padding:0;margin:0; }
div.callouts-block div.callout div.float_image_left { overflow:auto;padding:0 0 20px 0; }
div.callouts-block div.callout div.float_image_left p { margin:0;padding:0;font-size:12px;line-height:17px; }
div.callouts-block div.callout div.float_image_left img { float:left;padding:0 10px 0 0; }
div.callouts-block div.callout ul { list-style-type:disc;margin:0;padding:0 0 0 10px; }
div.callouts-block div.callout ul li { margin:0;padding:0 0 10px 0; }
div.callouts-block div.callout ul.links { list-style-type:none;margin:0;padding:0; }
div.callouts-block div.callout ul.links li {
  margin:8px 0 0 0;
  padding:0 0 8px 0;
  border-bottom:1px solid #ededed;
}
div.callouts-block div.callout ul.links li.last { border-bottom:none; }
div.callouts-block div.callout ul.links li a {
  color:#4d4f53;
  font-size:12px;
  line-height:12px;
  background-image:url(/siteImages/blue-arrow.png);
  background-repeat:no-repeat;
  background-position:right 2px;
  padding:0; 
  margin:0;
  display:block;
  text-decoration:none;
}

/* -------- Callouts -------- */

.fullwidth {
   float: left;
   font-size: 12px;
   width: 800px;
} 

.fullwidth h1 {
   font-size: 1.2em;
} 

  .fullwidth h2 {
   font-size: 14px;
} 


.fullwidth.inner {
	margin: 10px 0 0 0;
	width: 750px;
}
.fullwidth .listinner {
	margin: 10px 0 0 0;
	width: 800px;
}	
.fullwidth .col180 {
	float: left;
	width: 180px;
}
.fullwidth .nobold {
	font-weight: normal;
}
.fullwidth ol, .fullwidth ul, .fullwidth dl {
	font-weight: normal;
	margin: 0 8px 10px 0;
	color: #444; 
}
.fullwidth ul li {
	background: url(http://www.aon.com/siteImages/bullet.gif) 0 6px no-repeat;
	font-weight: normal;
	padding-left: 10px;
}
.fullwidth .nobold li {
	background: none;
}
.fullwidth li {
	padding: 2px 0;
}
.fullwidth ul ul, .fullwidth ol ol, .fullwidth ol ul{
	float: none;
	margin: 0 0 0 8px;
	padding: 0;
	font-weight: normal;
}

/***** Begin - Cookie Notice Table Formatting - 550 wide *****/
table.t-basic { width: 550px; border: 1px solid; border-color: black; } 
td.td-basic1-top { width: 183px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; border-right: 1px solid; border-color: black; } 
td.td-basic2-top { width: 183px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; } 
td.td-basic3-top { width: 183px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; border-left: 1px solid; border-color: black; } 
td.td-basic1 { width: 183px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; border-top: 1px solid; border-right: 1px solid; border-color: black; } 
td.td-basic2 { width: 183px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; border-top: 1px solid; } 
td.td-basic3 { width: 183px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; border-top: 1px solid; border-left: 1px solid; border-color: black; } 
td.td-basic-allcols { width: 540px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; border-top: 1px solid; border-color: black; }
/***** End - Cookie Notice Table Formatting - 550 wide *****/

/***** Begin - Cookie Notice Table Formatting - 800 wide *****/
table.t-basic-840 { width: 840px; border: 1px solid; border-color: black; } 
td.td-basic-840-1-top { width: 280px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; border-right: 1px solid; border-color: black; } 
td.td-basic-849-2-top { width: 280px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; } 
td.td-basic-840-3-top { width: 280px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; border-left: 1px solid; border-color: black; } 
td.td-basic-840-1 { width: 280px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; border-top: 1px solid; border-right: 1px solid; border-color: black; } 
td.td-basic-840-2 { width: 280px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; border-top: 1px solid; } 
td.td-basic-840-3 { width: 280px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; border-top: 1px solid; border-left: 1px solid; border-color: black; } 
td.td-basic-840-allcols { width: 840px; color: #000000; margin: 0; padding: 10px; text-align: left; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 13px; border-top: 1px solid; border-color: black; }
/***** End - Cookie Notice Table Formatting - 800 wide *****/

/***** Begin - Right Column Form *****/
#right-col-form { font-family: Arial; font-size: 12px; max-width; 284px; display: table; }
	form#rtcol_form { width: 255px; }
	form#rtcol_form label { width: 255px; }
	form#rtcol_form label.error, form#rtcol_form p.error { color: red; text-align: left; float: left; clear: left; margin-bottom: 5px; clear: both; width: 255px;}
	form#rtcol_form input[type=text], form#rtcol_form input.textbox, form#rtcol_form input.required, form#rtcol_form select, form#rtcol_form textarea { width: 255px; height: 15px; color: #333333; font-family: Arial; font-size: 12px; margin-bottom:5px; padding:2px; clear: both; float: left; position: static;}
	form#rtcol_form select {height: 25px; width: 260px; clear: both; float: left; position: static; }
	form#rtcol_form .submit { clear: both; float: left; margin-right: 0px; margin-top: 10px; } 
/***** End - Right Column Form *****/

/***** Begin - Center Column Form *****/
	form#centercol_form { width: 100%; }
	form#centercol_form label { width: 25%; }
	form#centercol_form label.error, form#centercol_form p.error { color: red; text-align: left; float: left; clear: left; margin-bottom: 5px; clear: both; width: 75%;}
	form#centercol_form input[type=text], form#centercol_form input.textbox, form#centercol_form input.required { width: 75%; height: 18px; color: #333333; font-family: Arial; font-size: 12px; margin-bottom:5px; padding:2px; clear: both; float: left; position: static; border: 1px solid #999999;}
    form#centercol_form textarea { width: 75%; height: 150px; color: #333333; font-family: Arial; font-size: 12px; margin-bottom:5px; padding:2px; clear: both; float: left; position: static; border: 1px solid #999999;}
	form#centercol_form select {height: 25px; width: 75%; color: #333333; font-family: Arial; font-size: 12px; margin-bottom:5px; padding:2px; clear: both; float: left; position: static; border: 1px solid #999999; }
	form#centercol_form .submit { clear: both; float: left; margin-right: 0px; margin-top: 10px; } 
/***** End - Center Column Form *****/

.eq-btn-style{
    clear: both;
	border: solid 0px #ffffff;
	border-radius: 4px;
	moz-border-radius: 4px;
	font-size: 13px;
    font-face: arial narrow;
	color: #ffffff;
	padding: 1px 17px;
	background-color: #5EB9E4;
    cursor: pointer;
}

#progress { background: none;}
#prog_area { width: 100%; }
#progbox_holder { text-align: center; width: 100%; z-index: 500; }
#progbox_holder span { font: 31px/20px arial; width: 20px; display: inline-block; color: #bbb; cursor: pointer; margin: 0px 0px; }
#progbox_holder span.cycle-pager-active { color: #404040;}
#progbox_holder > * { cursor: pointer;}
#prog_area #prog_left, #progbox_holder .progbox, #prog_area #prog_right  { display: none; }



#thgtLdr {
    border-bottom: 1px solid #a5a5a5;
    color: #727272;
    font: 19.8pt "Prelo Slab W01 Medium";
    letter-spacing: 0.2pt;
    margin-top: 9px;
    padding-bottom: 7px;
}
#focal-text {
    border-bottom: 1px solid #a5a5a5;
    color: #727272;
    font: 19.8pt "Prelo Slab W01 Medium";
    letter-spacing: 0.2pt;
    margin-top: 9px;
    padding-bottom: 7px;
}

.error_logo {
	margin-left: 37px;
	padding-top: 35px;
}

.error_logo > img {
    width: 50px;
}

.search_error_main {
    margin: -85px 85px;
}

.search_error_main h2 {
    float: left;
	text-transform: uppercase;
    font-size: 44px;
    margin: 0;
    padding: 16px 0 0px 11px;
    width: 550px;
	color: C9CAC8;
}

.search_error_sub {
	float: left;
    padding: 14px 0 100px 15px;
    width: 415px;
	color: black;
}

#intro {
	width:550px;
	font-size: 16px;
    position:relative;
 }

#two-column-01 {
	width:550px;
    position:relative;
 }
 
#two-column-01 .text-left {
	width:60%;
    float:left;
	margin:0px 0px 0px 0px;
	position:relative;
 }
 
#two-column-01 .img-right {
	width:40%;
    float:right;
	margin:0px 0px 0px 0px;
	height:180px;
	position:relative;
 }
 
#two-column-02 {
	width:550px;
    position:relative;
 }
 
 #two-column-02 .img-left {
	width:40%;
    float:left;
	margin:0px 0px 0px 0px;
	height:180px;
	position:relative;
 }
 
 #two-column-02 .text-right {
	width:60%;
    float:right;
	margin:0px 0px 0px 0px;
	position:relative;
 }
 
#two-column-spacer { 
	width:550px;
	position:relative; 
}

#two-column-spacer IMG {
    display: block;
	height: 30px;
    margin-left: auto;
    margin-right: auto; 
}

/* 58 - 2 - 40 Two Column Responsive Treatment */

#two-col-intro {
	width:550px;
	padding-top:15px;
    position:relative;
	z-index:10000;
 }

#two-col-01 {
	width:550px;
    position:relative;
	z-index:inherit;
 }
 
#two-col-01 .text-left {
	width:58%;
    float:left;
	margin:0px 0px 15px 0px;
	position:relative;
	z-index:inherit;
 }
 
 #two-col-01 .middle {
	width:2%;
	margin:0px 0px 0px 0px;
	position:relative;
 }
 
#two-col-01 .img-right {
	width:40%;
    float:right;
	margin:0px 0px 15px 0px;
	position:relative;
	z-index:inherit;
 }
 
#two-col-02 {
	width:550px;
    position:relative;
 }
 
 #two-col-02 .img-left {
	width:38%;
    float:left;
	margin:0px 0px 15px 0px;
	position:relative;
	z-index:inherit;
 }
 
  #two-col-02 .text-right {
	width:62%;
    float:right;
	margin:0px 0px 15px 0px;
	position:relative;
	z-index:inherit;
 }
 
   
#two-col-spacer { 
	width:550px;
	position:relative; 
}

#two-col-spacer IMG {
	height:1px;
	width:100%; 
}

/* END 58 - 2 - 40 Two Column Responsive Treatment */

/* 49 - 49 Two Column Responsive Treatment */

#two-col-49-49 {
	width:550px;
	margin-top:25px;
	margin-bottom:15px;
    position:relative;
	z-index:10000;
 }
 
#two-col-49-49 .left {
	width:49%;
	float:left;
	margin:0px 0px 15px 0px;
	position:relative;
	z-index:10000;
 }
 
#two-col-49-49 .right {
	width:49%;
	float:right;
	margin:0px 0px 15px 0px;
	position:relative;
	z-index:10000;
 }
 
/* END 49 - 49 Two Column Responsive Treatment */

#ah-cta {
	width:95%;
	background-color: #cccccc;
	position:relative;
}

#ah-cta .text-image {
    width:95%;
	margin-left:20px;
    padding-top:30px;
	position:relative;
}

#ah-cta .button-image {
    margin-left:20px;
    padding-top:20px;
	padding-bottom:30px;
	position:relative;
}