@charset "UTF-8";
/* CSS Document */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.global_top {
    height: 68px;
}

#searchform + a {
    position: absolute;
    left: 0;
    top: 17px;
}


.container .content a {
    /* font-size: 14px; */
    /* line-height: 22px; */
    color: #5988B1;
    /* text-decoration: none; */
}

    .container .content a:hover {
        color: #5eb9e4;
    }

p a {
    text-decoration: underline;
}

.container .content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.intro p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 22px;
    color: #7e7e7e;
    margin-bottom: 20px;
}

.blue {
    color: #5eb9e4 !important;
    text-decoration: none !important;
}

.dblue {
    color: #0083a9;
}

.dgray {
    color: #4d4f53;
}

.mgray {
    color: #7e7e7e;
}

.mgray2 {
    color: #c9cac8;
}

.lgray {
    color: #ebebeb;
}

.white {
    color: #fff;
}

.red {
    color: #e11b22;
}

.green {
    color: #7ab800;
}

.purple {
    color: #6e267b;
}

.sidebar h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: #4d4f53;
    margin-bottom: 7px;
}

.sidebar p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #4d4f53;
    margin-bottom: 7px;
}

.sub-head {
    color: #7e7e7e;
    font-size: 17px;
    line-height: 22px;
}

/* Clearfix */
.content:before, .content:after, .row:before, .row:after, .cf:before, .cf:after, .col:before, .col:after {
    content: " ";
    display: table;
}

.content:before, .content:after, .row:before, .row:after, .cf:before, .cf:after, .col:before, .col:after {
    clear: both;
}

/* Structure */
.container {
    margin: 0 auto;
    width: 850px;
}

.left-col {
    float: left;
    width: 545px;
}

.sidebar {
    float: right;
    width: 264px;
}

.content {
    margin-bottom: 30px;
}

/* Navigation Level 1 */
.tab-nav-lvl1 {
    border-bottom: 1px solid #4d4f53;
    height: 44px;
    position: relative;
}

    .tab-nav-lvl1 ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
    }

    .tab-nav-lvl1 li {
        background: #ebebeb;
        border-radius: 4px 4px 0 0;
        border-bottom: none;
        display: inline-block;
        float: left;
        height: 41px;
        margin: 0 0 0 4px;
    }

    .tab-nav-lvl1 a {
        color: #404040;
        display: inline-block;
        font-size: 1em;
        line-height: 0.813em !important;
        text-align: center;
        text-decoration: none;
        font-family: "StoneSansIIITCW01-BK";
    }

    .tab-nav-lvl1 .home {
        cursor: pointer;
        margin-left: 0;
    }

    .tab-nav-lvl1 li:hover, .tab-nav-lvl1 .active {
        background: #fff;
        border: 1px solid #4d4f53;
        border-bottom: 1px solid #fff;
        ;
        height: 43px;
        z-index: 200;
    }

        .tab-nav-lvl1 li:hover a, .tab-nav-lvl1 .active a {
            color: #404040;
        }

    .tab-nav-lvl1 li:first-child a {
        padding-top: 17px;
        padding-left: 13px;
        padding-right: 13px;
    }

    .tab-nav-lvl1 li:first-child span {
        background-image: url(../images/home.png);
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    .tab-nav-lvl1 li span {
        display: block;
        height: 17px;
        width: 20px;
    }

    .tab-nav-lvl1 li:first-child:hover span, .tab-nav-lvl1 .home.active span {
        background-position: 0px 0px;
    }

.tn1 a {
    padding: 5px 0;
}

.tn2 a {
    padding: 17px 0;
    width: 120px;
}

.tn3 a {
    padding: 17px 0;
    width: 140px;
}

.tn4 a {
    padding: 17px 0;
    width: 110px;
}

.tn5 a {
    padding: 17px 0;
    width: 120px;
}

.tn6 a {
    padding: 17px 0;
    width: 90px;
}

.tn7 a {
    padding: 17px 0;
    width: 90px;
}

.tn8 a {
    padding: 17px 0;
    width: 90px;
}

/* Navigation Level 2 */
.tab-nav-lvl2 {
    border-bottom: 1px solid #4d4f53;
    height: 44px;
    margin-bottom: 46px;
}

    .tab-nav-lvl2 ul {
        list-style: none;
        margin: 0 0 0 30px;
        padding: 0;
        width: 100%;
    }

    .tab-nav-lvl2 li {
        display: inline-block;
        float: left;
        margin-left: 6px;
        text-align: center;
        width: 120px;
    }

        .tab-nav-lvl2 li a {
            border-bottom: 4px solid transparent;
            display: block;
            font-size: 13px;
            line-height: 13px;
            padding-top: 12px;
            padding-bottom: 6px;
        }

    .tab-nav-lvl2 .last a {
        line-height: 18px;
        margin-top: -1px;
        padding-top: 0;
    }

    .tab-nav-lvl2 li:hover a, .tab-nav-lvl2 .active a {
        border-bottom: 4px solid #5eb9e4;
        color: #5eb9e4;
        cursor: pointer;
    }

    .tab-nav-lvl2 .long {
        width: 200px;
    }

/* Carousel */
.slick-slider {
    margin-bottom: 10px;
}

.slick-dots {
    bottom: -24px;
}

    .slick-dots li {
        margin: 0;
    }

        .slick-dots li button:before {
            color: #bbb;
            font-size: 30px;
            font-weight: bold;
            opacity: 1;
        }

/* Banners */
.banner {
    margin-bottom: 12px;
}

/* Questions / Contact */
.ques-contact {
    float: right;
    margin-bottom: 25px;
    text-align: right;
    position: relative;
    width: 40%;
}

    .ques-contact a {
        color: #404040;
        padding: 10px 0;
        font-size: 14px;
        text-decoration: none;
    }

        .ques-contact a:hover {
            color: #5eb9e4;
        }

/* Home */
.help .col1, .saasSolutions .col1 {
    width: 310px;
}

.help .col2, .saasSolutions .col2 {
    width: 540px;
}

.home .sr li > a {
    min-height: 200px;
}

.help {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 40px;
    padding-bottom: 7px;
}

    .help .right ul {
        margin-top: -14px;
    }

    .help .col2 li {
        border-top: 1px solid #e7e7e7;
        color: #4d4f53;
    }

        .help .col2 li:first-child {
            border-top: none;
        }

    .help .col2 a {
        color: #4d4f53;
        display: block;
        font-size: 16px;
        padding: 14px 0 10px 17px;
    }

    .help .col2 li:hover {
        background: #f5f5f5;
    }

        .help .col2 li:hover a {
            color: #5eb9e4;
        }

.saasSolutions {
    margin-bottom: 48px;
}

    .saasSolutions .col2 {
        padding-top: 8px;
    }

.saasLandscape {
    background: #f5f5f5;
    margin-bottom: 62px;
    padding: 30px 18px 35px 36px;
}

    .saasLandscape .col1 {
        width: 452px;
    }

    .saasLandscape .col2 img {
        margin-top: -52px;
    }

.spectrum .col1 {
    width: 350px;
}

.spectrum .col2 {
    border-left: 1px solid #dddddd;
    padding: 24px 0 0 33px;
    width: 300px;
}

.spectrum .media > .left {
    margin-right: 34px;
}

.spectrum .media-body {
    width: 260px;
}

.spectrum .media-heading {
    line-height: 24px;
    margin-top: 14px;
    width: 175px;
}

/* Faux Tabs Content */
.tab-content {
    margin-top: 26px;
}

.header {
    border-bottom: 1px solid #ddd;
    color: #7e7e7e;
    font-size: 17px;
    font-weight: normal;
    padding-bottom: 4px;
}

.tab-content ul {
    margin-bottom: 20px;
}

.tab-content li {
    display: inline-block;
    margin-left: 25px;
    vertical-align: top;
}

    .tab-content li a {
        display: inline-block;
        padding: 9px 10px 9px 10px;
    }

    .tab-content li:first-child {
        margin-left: 0;
    }

.tab-content a:hover {
    background: #f5f5f5;
}

.tab-content .is {
    color: #7e7e7e;
    font-size: 15px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.tab-content .media-heading, .tab-content .media-heading a {
    color: #4d4f53;
    font-size: 15px;
    line-height: 18px;
}

.tab-content .mbLg p {
    line-height: 18px;
    margin-bottom: 0;
}

.tab-content .lm-link {
    display: inline-block;
    float: right;
    margin-bottom: 15px;
}

.dst li a {
    min-height: 150px;
    width: 243px;
}

.dst .media > .left {
    margin-right: 12px;
}

.dst .media-body {
    padding-top: 8px;
}

.cs li a {
    float: left;
    width: 246px;
    min-height: 204px;
}

.cs .mbLg a {
    width: 390px;
}

.cs .media > .left {
    margin-right: 12px;
}

.cs .media-body {
    padding-top: 10px;
}

.cs .media-heading {
    font-size: 15px;
    line-height: 18px;
}

.cs2 li a {
    min-height: 142px;
    width: 243px;
}

.mbLg .media-object {
    height: auto;
    width: 244px;
}

.pra li a {
    min-height: 295px;
    width: 256px;
}

.pra .mbLg {
    float: left;
    margin-left: 10px;
}

.pra .date {
    color: #4d4f53;
    font-size: 14px;
    margin-bottom: 10px;
}

.pra .lm-link {
    margin-top: 34px;
}

.li-multi-links {
    width: 263px;
}

    .li-multi-links .is {
        margin: 0;
        padding: 9px 10px;
    }

    .li-multi-links .media {
        display: block;
        min-height: 80px;
    }

        .li-multi-links .media h4 {
            font-weight: normal;
        }

    .li-multi-links .lm-link {
        float: left;
        margin-bottom: 0;
    }

.tab-content .lml-link-list li {
    margin-left: 0;
}

.lml-link-list a {
    min-height: 20px !important;
    padding: 2px 10px !important;
}

/* Comprehensive Solutions */
.dbo-row {
    margin-bottom: 10px;
}

    .dbo-row img {
        margin-right: 40px;
    }

.list-dot {
    padding-left: 0;
}

    .list-dot li {
        color: #4d4f53;
        font-size: 14px;
        list-style: disc;
        margin-left: 38px;
        margin-bottom: 20px;
        text-align: left;
    }

.dst-list li {
    float: left;
}

.dst-list a {
    min-height: 150px;
    width: 246px;
}

.dst-list .mbLg {
    min-height: 300px;
    width: 246px;
}

.dst-list .media > .left {
    margin-right: 12px;
}

.dst-list .media-body {
    padding-top: 10px;
}

.pra-list li {
    float: left;
    margin-left: 6px;
}

.pra-list a {
    min-height: 150px;
    width: 246px;
}

.pra-list .mbLg a {
    min-height: 300px;
    width: 256px;
}

.pra-list .media > .left {
    margin-right: 12px;
}

.pra-list .media-body {
    padding-top: 10px;
}

.pra-list a:hover .date {
    color: #4d4f53;
}

.dst-list .mbLg {
    min-height: 300px;
    width: 246px;
}

/* Research Tools */
.rt {
    margin-top: 50px;
}

.research-tools .tab-content .rt li, .research-tools .tab-content .mrkto li {
    margin-left: 25px;
    width: 46%;
}

    .research-tools .tab-content .rt li a {
        min-height: 230px;
    }

.research-tools .tab-content li:first-child {
    margin-left: 0;
}

.research-tools .tab-content .mrkto li a {
    min-height: 245px;
}

.back > .smLink {
    color: #888;
    font-size: 13px;
    font-weight: normal;
}

.service {
    font-size: 14px;
    margin-bottom: 18px;
}

    .service h3 {
        display: inline;
        font-size: 14px;
        font-weight: bold;
    }

    .service.mb0 h3 {
        margin-bottom: 0;
    }

/* Media Object */
.media, .media-body {
    overflow: hidden;
}

    .media > .left {
        margin-right: 10px;
    }

.media-object {
    display: block;
}

/* Sidebar */
.back {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 46px;
}

    .back a {
        color: #4d4f53;
        cursor: pointer;
        display: block;
        font-size: 14px;
        font-weight: bold;
        padding: 16px 18px;
    }

        .back a:hover {
            color: #5eb9e4;
        }

.aside {
    color: #7e7e7e;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 36px;
}

    .aside .date {
        font-size: 12px;
    }

.greyBox {
    background: #f5f5f5;
    margin-bottom: 10px;
    padding: 25px 20px 18px;
}

    .greyBox h4 {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .greyBox p {
        font-size: 12px;
        line-height: 16px;
    }

    .greyBox .media-object {
        -webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,.15);
        box-shadow: 5px 5px 5px 0 rgba(0,0,0,.15);
    }

    .greyBox .topic {
        color: #7e7e7e;
        font-size: 15px;
        margin-bottom: 7px;
        text-transform: uppercase;
    }

    .greyBox .rtChevron {
        margin-top: 10px;
    }

.quoteTxt {
    color: #7e7e7e;
    font-size: 12px;
    margin-right: 78px;
    margin-top: 12px;
    text-align: right;
}

    .quoteTxt .qtName {
        font-weight: bold;
    }

    .quoteTxt .qtPosition {
        font-style: italic;
    }

.content .tertiary {
    margin-bottom: 50px;
}

    .content .tertiary li {
        border-bottom: 1px solid #ddd;
    }

    .content .tertiary > li:first-child {
        border-top: 1px solid #ddd;
    }

    .content .tertiary li .tertArrow {
        background: url(../images/tert-arrow.png) no-repeat;
        background-position: 0 0;
        display: inline-block;
        height: 10px;
        float: left;
        margin-top: 6px;
        margin-right: 8px;
        width: 8px;
    }

    .content .tertiary li:hover span {
        cursor: pointer;
    }

    .content .tertiary li:hover span, .content .tertiary .active span {
        background-position: 0 -22px;
        color: #5eb9e4;
    }

    .content .tertiary li a {
        color: #838383;
        display: block;
        font-size: 13px;
        overflow: hidden;
        padding: 16px 18px 14px 2px;
    }

    .content .tertiary .tertTxt {
        display: inline-block;
        float: left;
        width: 90%;
    }

.content .tertiaryLvl3 {
    padding: 0 0 15px 18px;
}

    .content .tertiaryLvl3 li {
        border-bottom: none;
        margin-bottom: 8px;
    }

        .content .tertiaryLvl3 li a {
            padding: 0;
        }

        .content .tertiaryLvl3 li a {
            color: #838383 !important;
            line-height: 18px;
        }

    .content .tertiaryLvl3 .active a, .content .tertiaryLvl3 a:hover {
        color: #5eb9e4 !important;
        cursor: pointer !important;
    }


.quote {
    background: #5eb9e4;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    font-weight: normal;
    padding: 22px 60px 24px 18px;
    position: relative;
}

    .quote:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 50px 0 0px;
        border-color: #5ebae4 transparent transparent;
        position: absolute;
        right: 18px;
    }

.tertiary .active a, .tertiary li:hover a {
    color: #5eb9e4;
}

.tertiary .active a, .tertiary .active {
    cursor: default;
}

/* Left Column */
.left-col .irWidth {
    width: 545px;
}

.left-col .sub-head {
    margin-bottom: 16px;
    text-align: left;
}

.pra-logo {
    margin-bottom: 30px;
}

/* Events */
.events .left-col {
    width: 568px;
}

.event-item {
    margin-bottom: 20px;
}

    .event-item h4 {
        font-size: 15px;
        font-weight: bold;
        line-height: 22px;
    }

    .event-item .header {
        margin-bottom: 24px;
    }

    .event-item .eLC {
        float: left;
        width: 300px;
    }

    .event-item .eRC {
        float: right;
        padding-left: 24px;
        width: 240px;
        position: relative;
    }

        .event-item .eRC .lm-link {
            display: inline-block;
            float: right;
            margin-top: 56px;
            position: absolute;
            bottom: 24px;
            right: 0;
        }

/* Contact Us */
.eq-form {
    margin-top: 20px;
}

    .eq-form label {
        display: block;
        padding: 1px 0 3px;
        white-space: nowrap;
        float: left;
        width: 145px;
    }

        .eq-form label span {
            color: #5eb9e4;
            font-size: 18px;
            line-height: 22px;
        }

    .eq-form input {
        border: 1px solid #ddd;
        float: left;
        line-height: normal;
        margin-bottom: 11px;
        padding: 4px 5px;
        width: 374px;
    }

    .eq-form select {
        height: 26px;
        margin-bottom: 10px;
        width: 386px;
    }

    .eq-form .txtArea {
        margin-top: 30px;
    }

    .eq-form textarea {
        height: 88px;
        width: 380px;
    }

        .eq-form textarea + .LV_validation_message.LV_invalid {
            margin-top: 0;
        }

    .eq-form .LV_validation_message.LV_invalid {
        color: red;
        display: block;
        float: left;
        margin-bottom: 10px;
        text-indent: 145px;
        width: 100%;
    }

.field-wrapper input[type="image"] {
    border: medium none;
    height: 27px;
    width: 85px;
}

.sidebar .eq-form input[type="image"] {
    border: medium none;
    height: 27px;
    width: 85px;
}

.sidebar .eq-form input {
    width: 95%;
}

.sidebar .eq-form textarea {
    width: 98%;
}

.sidebar .eq-form p {
    margin-bottom: 20px;
}

.sidebar .eq-form .LV_validation_message.LV_invalid {
    text-indent: 0;
}

/* Tables */
.tblHeader {
    color: #4d4f53;
    font-size: 15px;
    font-weight: bold;
}

.bpoTable {
    border: none;
    width: 100%;
}

    .bpoTable tbody {
        border-bottom: 1px solid #ddd;
    }

    .bpoTable td {
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        color: #4d4f53;
        font-size: 15px;
        line-height: 22px;
        padding: 16px 18px;
        vertical-align: top;
        width: 50%;
    }

    .bpoTable tr > td:first-child {
        border-left: none;
    }

    .bpoTable td em {
        display: block;
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .bpoTable td h4 {
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
        padding-left: 20px;
        margin-bottom: 8px;
    }

    .bpoTable td ul {
        list-style: disc;
        margin-left: 45px;
        margin-bottom: 18px;
    }

    .bpoTable td li {
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
        margin-bottom: 8px;
    }

.bpoTable2 {
    border: none;
    width: 100%;
}

    .bpoTable2 tbody {
        border-bottom: 1px solid #ddd;
    }

    .bpoTable2 td {
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        color: #4d4f53;
        font-size: 15px;
        line-height: 22px;
        padding: 16px 18px;
        vertical-align: top;
    }

    .bpoTable2 tr > td:first-child {
        border-left: none;
    }

    .bpoTable2 td em {
        display: block;
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .bpoTable2 td h4 {
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
        padding-left: 20px;
        margin-bottom: 8px;
    }

    .bpoTable2 td ul {
        list-style: disc;
        margin-left: 45px;
        margin-bottom: 18px;
    }

    .bpoTable2 td li {
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
        margin-bottom: 8px;
    }

.bpoTable .w30 {
    width: 30%;
}

.bpoTable .w35 {
    width: 35%;
}

.bpoTable .w40 {
    width: 40%;
}

.bpoTable .w60 {
    width: 60%;
}

.bpoTable .normal {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
}

.bpoTable .stripe {
    background: #f5f5f5;
}

.tblHeadeGrey {
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 18px 66px 20px 18px;
}

    .tblHeadeGrey strong {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
    }

.clients .tblHeadeGrey strong {
    display: inline-block;
    margin-bottom: 0;
}

.tblHeadeGrey p {
    margin-bottom: 0;
}

.clients .tblHeadeGrey p {
    margin-bottom: 20px;
}

.tblHeadeGrey .noMB {
    margin-bottom: 0;
}

.clients .tblHeadeGrey {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

/* help list */
.helpList {
    margin-bottom: 50px;
}

    .helpList li {
        border-left: 1px solid #ddd;
        float: left;
        width: 33%;
        min-height: 156px;
    }

        .helpList li:first-child {
            border-left: none;
            margin-left: 0;
        }

    .helpList a {
        background: #f5f5f5;
        color: #4d4f53;
        display: inline-block;
        font-size: 17px;
        margin: 0 5px;
        padding: 50px 0 0;
        text-align: center;
        transition: opacity 0.4s ease 0s;
        width: 177px;
    }

    .helpList li:hover a {
        background: #5eb9e4;
        color: #fff;
    }

/* PDF Viewer */
#document-preview {
    height: 670px;
    display: none\0;
}

.iePDF {
    display: none;
    display: block\0;
    border: 1px solid #b8b9ba\0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #document-preview {
        display: block;
    }

    .iePDF {
        display: none;
    }
}

/* Poll Daddy */
/*
#PDI_container8910306 .pds-box{ border: none!important; height: 304px!important; width: 100%!important; }
#PDI_container8910306 .pds-question-top{ font: bold 15px/20px Arial!important; }
#PDI_container8910306 .pds-pd-link{ display: none!important; }
#PDI_container8910306 .pds-answer{ border-bottom: none!important; }
.PDS_Poll { margin-top: -5px; }
.pds-answer{ margin-bottom: 24px!important; overflow: hidden; }
.pds-answer-group { display: block; float: left; padding: 8px 0; width: 45%; }
.pds-answer-span { display: inline-block; padding-left: 50px; padding-top: 16px; }
.pds-input-label{ float: left; width: 42%!important; }
.pds-answer-group + .pds-answer-group .pds-input-label:hover{ background-position: 0 -50px; }
.pds-answer-group .pds-radiobutton{  height: 44px; width: 47px; margin: 0; padding: 0; opacity: 0; cursor: pointer; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
.pds-answer-span{ padding-left: 5px!important; }
.pds-vote-button {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important; border-radius: 0 !important; color: #383838 !important; display: inline-block !important; font-size: 15px !important; line-height: 15px !important; margin-right: 12px !important; padding: 5px 0 7px !important; text-align: center!important; width: 122px; }
.pds-vote-button{  border: 1px solid #383838!important; color: #444!important; }
.pds-vote-button span{ background: url("../images/vote-img.png") 87px 4px no-repeat!important; display: inline-block; height: 12px; line-height: 1em; padding-right: 10px; width: 100%; }
.pds-vote-button:hover{ border: 1px solid #5eb9e4!important; color: #5eb9e4!important;  }
.pds-vote-button:hover span, .pds-vote-button span:hover{ background-position: 35px -14px!important; }
.pds-view-results{ text-decoration: underline; background: }
.pds-answer-group + .pds-answer-group { background: url("../images/pd-no.png") no-repeat; display: block; height: 45px; width: 102px!important; }
.pds-answer-group + .pds-answer-group:hover, .pds-answer-group + .pds-answer-group.active{ background-position: 0 -50px; }
.pds-answer-group{ background: url("../images/pd-yes.png") no-repeat; cursor: pointer !important; display: block; height: 45px; margin-top: 10px; padding: 0!important; width: 102px!important; }
.pds-answer-group:hover, .pds-answer-group.active{ background-position: 0 -49px; }
.pds-answer-input{ width: 55px!important; }
*/
/* Poll Daddy Results */
.pds-feedback-group + .pds-feedback-group .pds-answer-feedback-bar {
    background: #0083a9 !important;
}

.pds-admin-bar.pds-total-votes > a, .pds-admin-bar.pds-total-votes > span, #account-options {
    display: none !important;
}

.pds-total-votes {
    font-size: 11px !important;
}

.pds-totalvotes-outer {
    float: right;
    margin-top: -73px !important;
    width: 40%;
    position: relative;
    z-index: 3000;
}

.pds-return-poll {
    float: none !important;
    text-align: right !important;
    text-decoration: underline;
}

#PDI_container8910306 .pds-vote-button {
    float: left;
}

#PDI_container8910306 .pds-links {
    padding: 3px 0 0 15px !important;
}

#PDI_container8910306 .pds-view-results {
    color: #0083a9 !important;
    float: left;
    font: 11px/11px Arial;
    padding: 8px 10px 0 0;
    position: relative;
    text-align: left;
    font-weight: normal !important;
}

#PDI_container8910306 .pds-links-back a {
    color: #0083a9 !important;
    font-weight: normal !important;
}

.pds-answer-group:hover, .pds-answer-group.active {
    background-position: 0 -49px;
}

/* MISC */
.left {
    float: left;
}

.right {
    float: right;
}

.lm-link {
    color: #4d4f53;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

    .lm-link:hover {
        background: none !important;
    }

.dl {
    background: url(../images/down-arrow.png) no-repeat 12px 16px;
    border: 1px solid #383838;
    color: #383838;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    margin-top: 35px;
    padding: 9px 13px 9px 35px;
}

    .dl:hover {
        background-position: 12px -10px;
        border: 1px solid #5eb9e4;
        color: #5eb9e4;
    }

.rtChevron {
    background: url(../images/chevron.png) no-repeat;
    display: block;
    float: right;
    height: 22px;
    width: 24px;
}

    .rtChevron:hover {
        background: url(../images/chevron.png) 0 -24px no-repeat;
    }

.helpList .rtWChevron {
    background: url(../images/helplist-chevron.png) no-repeat;
    display: block;
    float: right;
    margin: 20px 44%;
    height: 22px;
    width: 24px;
}

    .helpList .rtWChevron:hover, .helpList li:hover .rtWChevron {
        background: url(../images/helplist-chevron.png) 0 -24px no-repeat;
    }

.irWidth {
    width: 630px;
}

.sh-date {
    font-size: 12px;
    margin-top: 5px;
}

.bli-list li {
    border-left: 1px solid #ddd;
    color: #838383;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 14px;
    padding-bottom: 5px;
    padding-left: 18px;
}

.service.mb0, .mb0 {
    margin-bottom: 0;
}

.mb20 {
    margin-bottom: 20px;
}

    .mb20 li {
        font-size: 14px;
        margin-bottom: 6px;
    }

.mb22 {
    margin-bottom: 14px;
}

.mb28 {
    margin-bottom: 28px;
}

.mt60 {
    margin-top: 60px;
}

.greyBoxLG {
    background: #f5f5f5;
    margin-top: 38px;
    padding: 28px 24px 12px;
}

    .greyBoxLG img {
        margin-left: 15px;
    }

.mt15 {
    margin-top: 15px;
}

.block {
    display: block;
}

h2.img {
    margin-top: 0;
    margin-bottom: 20px;
}

.flash {
    margin-top: 40px;
}

.left-col h2 {
    margin-top: 0;
}

.locations h3 {
    margin-bottom: 20px;
}

.spectrum {
    background: #f5f5f5;
    padding: 40px 30px 20px;
}


.container .Full .content a {
    font-size: 14px;
    line-height: 22px;
    color: #4d4f53;
    text-decoration: none;
}

    .container .Full .content a:hover {
        color: #5eb9e4;
    }

.container .Full .content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* CSS Document */

