
/**************====================************===================************ */
@media only screen and (min-width: 320px) and (max-width: 767px){
	html,body{
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		-webkit-text-size-adjust: 100%; 
	}
	.global_top{
		margin:0;
		display:table;
		flex-direction: column;
		background:url(/siteImages/mobileimages/header_bg.png) repeat-x;
		overflow: hidden;
		z-index: inherit;
	}
	#container {
		margin: 0;
		width: 100%;
		position: relative;
		overflow: hidden;
	}
	#toplinks {
		float: none;
		width: 100%;
		background:#FFF;
		margin-top:70px;
		border-bottom:1px solid #ccc;
	}
	.global_top .mobilemenu{
		width:40px;
		height:40px;
		background:url(/siteImages/mobileimages/mmenu.png) no-repeat;
		position: absolute;
		top: 15px;
		right: 25px;
	}
	#searchform{
		position: absolute;
		top:30px;
		right:-100%;
		z-index: 9999;
		padding: 0 40px 0 90px;
		box-sizing: border-box;
		width: 100%;
	}
	
	#searchform .searchbox{
		width: 100%;
		border: 1px solid #999;
		box-sizing: border-box;
		background: transparent;
		font-family: Arial, Helvetica, sans-serif;
		height: 30px;
		font-size:1.1em;
		text-transform:uppercase;
		border-radius: 0;
	}
	
	#searchform .searchbox:focus{
		text-transform: none;
	}
	#searchbtn {
		bottom: 5px;
		right: 45px;
		width: 18px;
	}
	#global_menu > li > a:before{
		content:'';
		display:inline-block;
		width:50px;
		height: 31px;
		float: left;
		margin-right: 10px;
	}
	#global_menu li.nav_home > a:before{
		background:url(/siteImages/mobileimages/home.png) no-repeat center center;
	}
	#global_menu li.nav_prod > a:before{
		background:url(/siteImages/mobileimages/pnc.png) no-repeat center center;
	}
	#global_menu li.nav_about > a:before{
		background:url(/siteImages/mobileimages/about_aon_normal.png) no-repeat center center;
	}
	#global_menu li.nav_about.active > a:before{
		background:url(/siteImages/mobileimages/about_aon.png) no-repeat center center;
	}
	#global_menu li.nav_contact > a:before{
		background:url(/siteImages/mobileimages/contact_us.png) no-repeat center center;
	}
	#global_menu li.nav_worldwide > a:before{
		background:url(/siteImages/mobileimages/worldwide.png) no-repeat center center;
	}
	#global_menu li.nav_worldwide img{
		display:none;
	}
	#toplinks ul{
		float:none;
		display:table;
		margin:0 auto;
		padding:16px 0;
		width:auto;
	}
	#toplinks li{
		background: transparent;
		position: relative;
		margin:0;
		padding:0 10px 0 12px;
	}
	#toplinks li:nth-child(2){
		border:1px solid #56584d;
		border-width:0 1px;
	}
	#toplinks li:nth-child(2):after{
		left:auto;
		right:0;
	}
	#toplinks li a{
		font-size:12px;
	}
	#toplinks li a:hover{
		text-decoration: none;
	}
	.global_top > a[href*="/default.jsp"]{
		display:block;
		background:url(/siteImages/mobileimages/aon_logo_white.png) no-repeat;
		width: 84px;
		background-size: contain;
		height: 38px;
		margin:16px 0 16px 16px;
		position: absolute;
		top:0;
		left:0;
	}
	.global_top > a[href*="/default.jsp"] img{
		opacity:0;
	}
	.global_top .country_label{
		position: static;
		background: #f2f2f2;
		padding: 14px 0;
		text-align: center;
	  	border:1px solid #ccc;
	  	border-width: 1px 0;
	  	display:block;
	}
	.global_top .country_label a{
		font-size:12px;
		color:#4f444c;
	}
	.global_top .country_label span{
		font-size:12px;
		color:#000;
	}
	.global_top .country_label img{
	}
	
	/* v2 Mobile Banner */
	
	#global-header-block .mobilemenu{
		width:40px;
		height:40px;
		background:url(/siteImages/mobileimages/mmenu.png) no-repeat;
		position: absolute;
		top: 15px;
		right: 25px;
	}

	#global-header-block{
		margin:0;
		display:table;
		flex-direction: column;
		background:url(/siteImages/mobileimages/header_bg.png) repeat-x;
		overflow: hidden;
		z-index: inherit;
		width: 100%;
	}
	
	#global-header-block .head_aon-logo {
			background: rgba(0, 0, 0, 0) url("/siteImages/mobileimages/aon_logo_white.png") no-repeat scroll 0 0 / contain ;
			display: block;
			height: 37px;
			left: 0;
			margin: -9px 0 16px 16px;
			padding-left: 5px;
			position: absolute;
			width: 80px;
		}
		 
		  #global-header-block .head_aon-logo img {
		  display: none;
		}

	/* #global-header-block > a[href*="/default.jsp"]{
		display:block;
		background:url(/siteImages/mobileimages/aon_logo_white.png) no-repeat;
		width: 84px;
		background-size: contain;
		height: 38px;
		margin:16px 0 16px 16px;
		position: absolute;
		top:0;
		left:0;
	}
	#global-header-block > a[href*="/default.jsp"] img{
		opacity:0;
	} */
	#global-header-block .country_label{
		position: static;
		background: #f2f2f2;
		padding: 14px 0;
		text-align: center;
	  	border:1px solid #ccc;
	  	border-width: 1px 0;
	  	display:block;
	}
	#global-header-block .country_label a{
		font-size:12px;
		color:#4f444c;
	}
	#global-header-block .country_label span{
		font-size:12px;
		color:#000;
	}
	#global-header-block .country_label img{
	}
	
	#global-header-block .head_slogan {
    	font-size: 11px;
    	font-weight: 700;
    	line-height: 11px;
    	right: 320px;
    	top: 25px;
		position: static;
		text-align: center;
	}

	.head_slogan {
		float: none;
		width: 100%;
		background:#FFF;
		margin-top:70px;
		border-bottom:1px solid #ccc;
		right: 0;
	}
	
	.head_slogan a {
    	display: inline-block;
    	/* float: none; */
    	margin: 0 auto;
    	padding: 16px 0;
    	width: auto;
	}
	
	.head_slogan ul{
		float:none;
		display:table;
		margin:0 auto;
		padding:16px 0;
		width:auto;
	}
	
	.head_slogan li{
		background: transparent;
		position: relative;
		margin:0;
		padding:0 10px 0 12px;
		float: left;
	}
	
	.head_slogan li:nth-child(2){
		border:1px solid #56584d;
		border-width:0 1px;
	}
	
	.head_slogan li:nth-child(2):after{
		left:auto;
		right:0;
	}
	.head_slogan li a{
		font-size:12px;
	}
	.head_slogan li a:hover{
		text-decoration: none;
	}
	
	#global-header-block .head_cty {
    	-moz-border-bottom-colors: none;
    	-moz-border-left-colors: none;
    	-moz-border-right-colors: none;
    	-moz-border-top-colors: none;
    	background: #f2f2f2 none repeat scroll 0 0;
    	border-color: #ccc;
    	border-image: none;
    	border-style: solid;
    	border-width: 1px 0;
    	display: block;
    	padding: 14px 0;
    	position: relative; /*updated style from static-AK*/
    	text-align: center;
		right: 0;
		top: 70px; /*updated style from 0-AK*/
	}
	
	.head_cty {
    	bottom: 0;
    	color: #739abc;
    	position: absolute;
    	right: 0;
	}
	
	.head_links{
    	visibility: hidden;
    	clear: both;
    	float: left;
    	margin: 10px auto 5px 20px;
    	width: 28%;
    	display: none;
  	}	
	
	div#megamenu-content-block .secondary-navigation {
		visibility: hidden;
    	clear: both;
    	float: left;
    	margin: 10px auto 5px 20px;
    	width: 28%;
    	display: none;
	}
	/* v2 Mobile Banner End */
	
	
	
	/* v2 Navigation */
	#megamenu-content-block ul li{
		float:none;
		text-align:left !important;
		margin:0 !important;
		width:100% !important;
		border-bottom: 1px solid #e4e4e4;
	}
	#megamenu-content-block .nav_about:hover, #megamenu-content-block #nav_about.over, #megamenu-content-block .nav_prod:hover, #megamenu-content-block #nav_prod.over{
		background:none;
	}
	/* #megamenu-content-block ul li a{
		text-align:left !important;
		width:100% !important;
		padding: 23px 10px !important;
		font-size:1.2em;
		height: 31px;
		line-height: 31px;
	} 
	#megamenu-content-block .nav_prod ul{
		display:none !important;
	} 
	#megamenu-content-block ul li.nav_home a span{
		color:#739abc;
		font-size: 1em;
		font-weight: normal;
		padding: 0 0 0 4px;
	}
	#megamenu-content-block{
		padding: 0 0 0 70px;
		box-sizing: border-box;
	}
	#megamenu-content-block ul{
		width:100%;
		margin-top:90px;
		border-top:1px solid #e4e4e4;
	} 
	#primary-navigation li.over a{
		border:none;
	} */
	
 	/*Dropdown Menu css*/
	
	/*#megamenu-content-block ul li ul{
		position:relative;
		border:none;
		margin:0;
		padding:0 10px 10px 0;
	}
	#megamenu-content-block .nav_contact:before{
		content:'';
		display:block;
		clear: both;
	} */
	#megamenu-content-block ul .nav_about:after{
		content: '';
		width: 13px;
		height: 13px;
		background: url(/siteImages/mobileimages/plus.png) no-repeat center center;
		display: block;
		position: absolute;
		left: 100%;
		top: 32px;
		margin: 0 0 0 -40px;
	}
	#megamenu-content-block ul .nav_about.active:after{
		background:url(/siteImages/mobileimages/minus.png) no-repeat center center;
	}
	
	/* div#megamenu-content-block #primary-navigation {
		margin: 0;
	} */
	
	
	div#megamenu-content-block #primary-navigation > li {
		padding: 0;
	}
	
	div#megamenu-content-block #primary-navigation > li {
    	font-family: Arial,Helvetica,sans-serif; /* ITCStoneSansStdMedium; */
	}
	
	#megamenu-content-block ul .nav_about ul {
		padding: 10px 0 10px 80px;
		margin: 0; /* Keep, this controls the spacing in the about_nav drop down. */
		width: 100%;
		border: 1px #e4e4e4;
		border-width: 1px 0;
	}
	#megamenu-content-block .nav_about a{
		display:inline-block;
		width:auto !important;
	}
	#megamenu-content-block ul li.over ul, #megamenu-content-block ul li:hover ul{
		display:none;
	}
	#primary-navigation li a:hover, #primary-navigation li.over a{
		color:#5988b1;
	}
	#megamenu-content-block .nav_about.active > a{
		color:#E11B22;
	}
	#megamenu-content-block .nav_about ul li {
		border:none;
	}
	#megamenu-content-block ul.col li a, #megamenu-content-block ul.col li.over a {
		padding: 10px 0 !important;
		/*font-size: 1.2em;
		color: #4c4c4c;*/
	}
	
	#megamenu-content-block .nav_about.active > a {
    	color: #e11b22 !important;
	}
	
	#megamenu-content-block ul li ul a:hover {
    	color: #5988b1;
		text-decoration: none;
	}
	
	/* #megamenu-content-block ul li ul.col {
    	border: 1px solid #dcdcdc;
    	display: none;
    	font-size: 0.9em;
    	height: auto;
    	left: 0;
    	padding: 5px 0;
    	position: absolute;
    	width: 100%;
	} */
	
	#primary-navigation ul.col a {
    	color: #4c4c4c;
    	font-family: Arial,Helvetica,sans-serif;
    	/* font-size: 1.1em;
    	font-weight: bold;
    	line-height: 1.2em;
    	padding: 10px 0; */
	}
	
	/* #primary-navigation a, #primary-navigation a:visited,#primary-navigation a:hover {
    	color: #5988b1;
    	text-decoration: none;
	} */
	
	#primary-navigation li.over ul a{
		font-size:1.1em;
	}
	#megamenu-content-block .nav_about:hover, #megamenu-content-block #nav_about.over, #megamenu-content-block .nav_prod:hover, #megamenu-content-block #nav_prod.over{
		background:none;
	}
	 #megamenu-content-block ul li a{
		text-align:left !important;
		width:100% !important;
		padding: 23px 10px !important;
		/* font-size:1.2em; */
		height: 31px;
		line-height: 31px;
	}
	
	#megamenu-content-block .nav_prod ul{
		display:none !important;
	}
	#megamenu-content-block ul li.nav_home a span{
		color:#739abc;
		font-size: 1em;
		font-weight: normal;
		padding: 0 0 0 4px;
	}
	#megamenu-content-block{
		padding: 0 0 0 70px;
		box-sizing: border-box;
	}
	#megamenu-content-block ul{
		/* width:100% !important; */
		margin-top:90px; 
		border-top:1px solid #e4e4e4 !important;
		/* float: left; */
	}
	
	#megamenu-content-block ul.col li {
    	font-size: 0.9em;
	}
	
	#megamenu-content-block #primary-navigation {
	width: 100% !important;	
	}

	#primary-navigation li.over a{
		border:none;
	}
	
	#megamenu-content-block ul li {
    	float: left;
    	position: relative;
	}
	
	#primary-navigation > li > a:before{
		content:'';
		display:inline-block;
		width:50px;
		height: 31px;
		float: left;
		margin-right: 10px;
	}
	#primary-navigation li.first > a:before{
		background:url(/siteImages/mobileimages/home.png) no-repeat center center ;
	}
	#primary-navigation li.nav_prod > a:before{
		background:url(/siteImages/mobileimages/pnc.png) no-repeat center center;
	}
	#primary-navigation li.nav_about > a:before{
		background:url(/siteImages/mobileimages/about_aon_normal.png) no-repeat center center ;
	}
	#primary-navigation li.nav_about.active > a:before{
		background:url(/siteImages/mobileimages/about_aon.png) no-repeat center center ;
	}
	#primary-navigation li.nav_contact > a:before{
		background:url(/siteImages/mobileimages/contact_us.png) no-repeat center center ;
	}
	#primary-navigation li:nth-child(4) > a:before{
		background:url(/siteImages/mobileimages/contact_us.png) no-repeat center center ;
	}
	#primary-navigation li.last > a:before{
		background:url(/siteImages/mobileimages/worldwide.png) no-repeat center center ;
	}
	#primary-navigation li.last img{
		display:none;
	}
	
	div#megamenu-content-block #primary-navigation {
    	background: none; /* rgba(0, 0, 0, 0) url("/siteImages/v2.nav-bg.png") repeat scroll 0 0 */ 
    	
	}
	
	form.search input.search[type="text"] { /* originally in v2.global.css */
    	background-image: url("/siteImages/v2.search-button.png");
    	background-position: 160px 5px;
    	background-repeat: no-repeat;
    	border: medium none;
    	border-radius: none !important;
    	box-shadow: none !important; 
    	color: #4c4d4f;
    	display: block;
    	font-family: Arial;
    	font-size: 10px;
    	font-weight: normal !important;
    	margin: 0;
    	padding: 5px;
    	width: 170px;
	}
	
	/* div#megamenu-content-block #primary-navigation > li > a { color:#4d4f53;text-decoration:none; } */
	div#megamenu-content-block #primary-navigation > li.first { border-left:none; }
	div#megamenu-content-block #primary-navigation > li.last { border-right:none; }
	div#megamenu-content-block #primary-navigation > li:hover,
	div#megamenu-content-block #primary-navigation > li.active {
  		background: none;
	}
	
	div#megamenu-content-block #primary-navigation > li {
		height: auto;
	}
	
	div#megamenu-content-block {
		top: 0 !important;
		position: relative;
		width: 100%;	
	}
	
	/* #megamenu-content-block ul li a {
    	font-size: 1.2em;
    	height: 31px;
    	line-height: 31px;
    	padding: 23px 10px !important;
    	text-align: left !important;
    	width: 100% !important;
	} */
	
	#megamenu-content-block ul li a {
    	/* position: relative; */
		display: block;
		/* font-size: 1.2em; */
		font-weight: bold;
	}
	
	#megamenu-content-block li a {
    	z-index: 1000;
	}
	
	/* v2 Navigation End */
	
	#header{
		position: absolute;
		overflow:hidden;
		top:0;
		right:-100%;
		width: 100%;
		height:100%;
		z-index: 999;
		background:#FFF;
		box-shadow: 1px 0 2px #a6a6a6;
		-moz-box-shadow: 1px 0 2px #a6a6a6;
		-webkit-box-shadow: 1px 0 2px #a6a6a6;
	}
	#header .drowclose{
		width:48px;
		height: 100%;
		background: #888888;
		position: absolute;
	}
	#header .drowclose a{
		color:#FFF;
		background:url(/siteImages/mobileimages/menu_close.png) no-repeat;
		width:22px;
		height:22px;
		margin:12px;
		display:block;
	}
	
	.mdsicons {
		display: block;
		clear: both;
		overflow: hidden;
		text-align: center;
		padding: 0 0 0 48px;
		position: relative;
		top: 80px;
	}
	.mdsicons p {
		font-size: 18px;
	}
	.mdsicons a {
		background-image: url(/siteImages/mobileimages/social-gs.png);
		background-size:cover;
		width: 38px;
		height: 38px;
		display: inline-block;
	}
	.mdsicons a img {
	  display: none;
	}
	.mdsicons a:nth-of-type(2){
		background-position:-56px 0;
		margin:0 15px;
	}
	.mdsicons a:nth-of-type(3){
		background-position: -112px 0px;
	}
	#global_nav ul li{
		float:none;
		text-align:left !important;
		margin:0 !important;
		width:100% !important;
		border-bottom: 1px solid #e4e4e4;
	}
	#global_nav .nav_about:hover, #global_nav #nav_about.over, #global_nav .nav_prod:hover, #global_nav #nav_prod.over{
		background:none;
	}
	#global_nav ul li a{
		text-align:left !important;
		width:100% !important;
		padding: 23px 10px !important;
		font-size:1.2em;
		height: 31px;
		line-height: 31px;
	}
	#global_nav .nav_prod ul{
		display:none !important;
	}
	#global_nav ul li.nav_home a span{
		color:#739abc;
		font-size: 1em;
		font-weight: normal;
		padding: 0 0 0 4px;
	}
	#global_nav{
		padding: 0 0 0 70px;
		box-sizing: border-box;
	}
	#global_nav ul{
		width:100%;
		margin-top:90px;
		border-top:1px solid #e4e4e4;
	}
	#global_menu li.over a{
		border:none;
	}
 /*Dropdown Menu css*/
	#global_nav ul li ul{
		position:relative;
		border:none;
		margin:0;
		padding:0 10px 10px 0;
	}
	#global_nav .nav_contact:before{
		content:'';
		display:block;
		clear: both;
	}
	#global_nav ul .nav_about:after{
		content: '';
		width: 13px;
		height: 13px;
		background: url(/siteImages/mobileimages/plus.png) no-repeat center center;
		display: block;
		position: absolute;
		left: 100%;
		top: 32px;
		margin: 0 0 0 -40px;
	}
	#global_nav ul .nav_about.active:after{
		background:url(/siteImages/mobileimages/minus.png) no-repeat center center;
	}
	#global_nav ul .nav_about ul {
		padding: 10px 0 10px 80px;
		margin: 0;
		width: 100%;
		border: 1px solid #e4e4e4;
		border-width: 1px 0;
	}
	#global_nav .nav_about a{
		display:inline-block;
		width:auto !important;
	}
	#global_nav ul li.over ul, #global_nav ul li:hover ul{
		display:none;
	}
	#global_menu li a:hover, #global_menu li.over a{
		color:#4c4c4c;
	}
	#global_nav .nav_about.active > a{
		color:#E11B22;
	}
	#global_nav .nav_about ul li {
		border:none;
	}
	#global_nav ul li ul li a, #global_nav ul li.over ul li a {
		padding: 10px 0 !important;
		font-size:1.2em;
	}
	#global_menu li.over ul a{
		font-size:1.1em;
	}
	#breadcrumb{
		margin:0;
		padding:0;
		display:none;
	}
 /* home page css*/
	.full{
		width:100%;
	}
	#bannerImg{position: relative;}
	#imgHolder{
		width:100%;
		height:auto;
	}
	#imgHolder a,#imgHolder a img{
		width:100%;
		display:block;
		overflow:hidden;
	}
	#imgHolder a img{
		width:100%;
		height:auto;
	}
	#progress{
		width:100%;
		background: transparent;
		float:none;
		height: auto;
		padding:20px 0;
	}
	#progress #prog_area{
		margin:0;
		width: 100% !important;
		height: auto;
		position: static;
	}
	#progress #prog_area > img {
		display:none;
	}
	.progbox{
		background: transparent;
		border:0 none;
		width: 8px;
		height: 8px;
		background: #999;
		border-radius:8px;
	}
	.progbox.active{
		background: #000;
	}
	.progbox .indicator{
		display:none !important;
	}
	#progbox_holder{
		float:none;
		margin:0 auto;
		display:table;
	}
	.add_img_2[class="add_img_2"],.add_img_1[class="add_img_1"]{
		margin:0;
	}
	.add_img_2[class="add_img_2"] a,.add_img_1[class="add_img_1"] a{
		/* height: 150px; */
		width: 100%;
		/* background:url(/siteImages/mobileimages/weareunited.png) no-repeat center center; */
		text-align:center;
		margin:0;
		border-bottom:1px solid #ccc;
		display: block;
	}
	.add_img_2[class="add_img_2"] img,.add_img_1[class="add_img_1"] img{
		width: 100%;
	}
	.add_img_2,.add_img_2.last,.bottom_bucket{
		float:none;
	}
	.add_img_2.last {
		width: 100%;
		height: auto;
	}
	.add_img_2.last a{
		display:block;
		text-align: center;
	}
	.add_img_2.last a img{
		width: 100%;
	}
	.bottom_bucket{
		margin:0;
		padding:0;
		width: 100%;
		box-sizing:border-box;
		border-bottom:0 none;
	}
	.bottom_bucket.first{
		border-top:1px solid #999;
	}
	.bottom_bucket * {
		width: auto !important;
	}
	.bottom_bucket img[src="/images/homepage/dotted-line-home.jpg"]{
		display:none;
	}
	.bottom_bucket img[src="/images/homepage/home-page-pointer.png"],.bottom_bucket br{
		display:none;
	}
	.bottom_bucket .heading{
		border:1px solid #999;
		border-width:0 0 1px;
		height:70px;
		background: transparent;
	}
	.bottom_bucket > a:nth-of-type(1) ,.bottom_bucket > a:nth-of-type(2) {
		display:none;
	}
	.bottom_bucket .heading > a,.bottom_bucket .heading > img {
		display:none;
	}
	.bottom_bucket .heading h2{
		position: static !important;
		padding:0 !important;
		line-height: 70px;
		font-size: 1.6em;
		font-weight: normal;
	}
	.bottom_bucket .heading h2 a:nth-of-type(2){
		box-sizing:border-box;
		padding:0 20px;
	}
	.bottom_bucket .heading h2 a font{
		color:#6d6a65 !important;
	}
	.bottom_bucket .heading.active h2 a font{
		color:#E11B22 !important;
	}
	.bottom_bucket .heading h2:after{
		content: '';
		width: 13px;
		height: 13px;
		background: url(/siteImages/mobileimages/plus.png) no-repeat center center;
		display: block;
		position: absolute;
		left: 100%;
		top: 29px;
		margin: 0 0 0 -40px;
	}
	.bottom_bucket .heading.active h2:after{
		background:url(/siteImages/mobileimages/minus.png) no-repeat center center;
	}
	.bottom_bucket ul{
		display:none;
		padding:0 20px 10px;
		margin:0;
	}
	.bottom_bucket ul li:nth-of-type(1){
		border-top: 0 none;
	}
	.bottom_bucket ul li{
		border-top:1px dashed #d2d2d2;
		background: url(/siteImages/mobileimages/right_arrow.png) 98% 50% no-repeat;
	}
	.bottom_bucket ul li a{
		padding:12px 20px 12px 0px;
	}
	.bottom_bucket ul > a{
		background: #e21f27;
		display:block;
		color:#FFF !important;
		text-align: center;
		font-size: 16px;
		padding: 10px;
		margin:15px 0 0;
		border-radius:4px;
	}
	.bottom_bucket ul > a:hover{
		text-decoration: none;
	}
	.bottom_bucket #feed-results {
		padding: 0 20px 10px;
		display: none;
	}
	.bottom_bucket #feed-results ul{
		display:block;
		padding: 0;
	}
	.bottom_bucket #feed-results ul:nth-of-type(1) li:nth-of-type(1){
		border-top: 0 none;
	}
	.bottom_bucket #feed-results ul li:nth-of-type(1){
		border-top: 1px dashed #d2d2d2;
	}
	.view_link{
		display:none;
	}
	/* Footer CSS */
	.footer{
		width:100%;
		background: #f1f1f1;
		padding:15px 0 0;
	}
	.footer table{
		width: 100%;
	}
	.footer table td{
		font-size: 0px;
		display:block;
		overflow: hidden;
	}
	.footer table a,.footer table a font,.footer table .linkspace{
		display:block;
		font-size: 12px;
		padding: 8px 20px;
		color:#6c777d;
	}
	.footer table a font{padding: 0;}
	.footer table td.images{
		padding-top:20px;
	}
	.footer table td.images a{
		width: 31px;
		height: 31px;
		background-image: url(/siteImages/mobileimages/social-gs.png);
		background-size:cover;
		padding:0;
		float: left;
		margin:0 5px ;
		position: relative;
		left:50%;
	}
	.footer table td.images a:nth-of-type(1){
		margin-left:-60px;
	}
	.footer table td.images a:nth-of-type(2){
		background-position:-46px 0;
		margin-left:-15px;
	}
	.footer table td.images a:nth-of-type(3){
		background-position: -91px 0px;
		margin-left:5px;
	}
	.footer table td.images a:nth-of-type(4){ 
		background-position: -299px 0px;
		margin-left:5px;
	}
	.footer table td.images a img{
		display:none;
	}
	#vdsite{
		color:#5988b1;
		margin: 30px;
		display: inline-block;
	}
	.twothirds .col180{
		float: none;
		width: auto;
		display: none;
	}
	.twothirds .col180:nth-of-type(1){
		display:block;
	}
	.listinner > h1{
		border-bottom:1px solid #CCC;
		padding:10px;
		text-align: center;
		color:#666 !important;
		position: absolute;
		box-sizing: border-box;
		left:0;
		width: 100%;
	}
	.listinner > h1.noabs{
		position: static;
	}
	.listinner > h1 select{
		display:inline-block;
		border:0 none;
		margin:0;
		width:auto;
		background: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding:0 20px 0 0 ;
		color:#0083a9;
		background:url(/siteImages/mobileimages/down_arrow_blue.png) no-repeat right center;
		width: 100px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: pre;
		margin-left: 15px; 
	}
	/*.listinner > h1 + p{
		display:none;
	}*/
	.listinner > h1 + p:empty {
   		display: none;
	}
	.twothirds .col180{
		padding-top: 60px;
	}
	.listinner > img{
		width:100%;
		height: auto;
	}
	.listinner a img{
		width:auto;
		height: auto;
	}
	.listinner div[style]{
		height:auto !important;
	}
	.listinner #shareBarUI{
		height: 25px !important;
	}
	.listinner #shareBarUI div[style]{
		height: 20px !important;
	}
	/*InnerPage Widgets CSS*/
	.full {
    	width: 100%;
    	margin:0;
	}
	.twothirds, .onethird.lmargin {
	    float: none;
	    width: 100%;
	    margin:0;
	}
	.twothirds > img {
	    width: 100%;
	    height: auto;
	}
	.listinner{
	  margin-top: 30px;
	}
	.listinner p {
	    color: #171717;
	    font-size: 1.1em;
	    line-height: 18px;
	    margin-bottom:20px;
	}
	.listinner h3 {
	    color: #0083a9;
	}
	.listinner p a, .twothirds.listinner a {
		color:#0083a9;
		word-wrap:break-word;
	}
	.twothirds ol, .twothirds ul, .twothirds dl {
	    font-size: 1em;
	}
	.twothirds ul li {
	    padding-bottom: 8px;
	}
	.twothirds .listinner, .onethird.lmargin {
	    box-sizing:border-box;
	    width: 100%;
	    padding: 0 20px;
	    margin-top:0;
	}
	.twothirds h1 {
	    color: #0083a9;
	}
	.endcap, .endcapleft, img#expand {
	    display: none;
	}
	.ps-head {
	    font-size: 1.6em;
		background: #d6d6d7;
		height: 60px;
		line-height: 60px;
		text-align: center;
		max-width: 100%;
		white-space: pre;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.info {
	    background:url("/siteImages/mobileimages/request-bg.png") repeat-x scroll top left;
	    border-top: 1px solid #c4c4c4;
	    border-bottom: 1px solid #c4c4c4;
	    position: relative;
	    min-height: 60px;
	    width: 100% !important;
	}
	.right_bucket{
		border:none;
		width:100%;
	}
	#reqtitle {
	    text-align: center;
	    width: 100%;
	    left:auto;
	}
	#expander{
	    font-size: 12px;
	    text-transform: uppercase;
	    cursor: pointer;
	    width: 110px;
	    display: block;
  		margin: 8px auto 0;
  		padding-right:20px;
  		background:url(/siteImages/mobileimages/down_arrow_blue.png) no-repeat right center; 
	}
	#contact.contact {
	    background: #fff;
	    box-sizing: border-box;
	    left: 0;
	    margin: 0;
	    padding: 20px;
	    position: relative;
	    width: 100% !important;
	    z-index: 9;
	}
	.contactform{
		background:none !important;
		width:100% !important;
	}
	#required.required {
	    font-size: 12px;
	    display: block;
	    width: auto;
	    text-align: right;
	    left:auto;
	}
	.contactform > img, .contactform br, #recaptcha > br {
	    display: none;
	}
	
	.contactform label {
	    background-color: #a0a0a0;
	    border: 1px solid #a0a0a0;
	    display: inline-block;
	    font-size: 0;
	    height: 48px;
	    left: 0;
	    margin: 0;
	    position: absolute;
	    vertical-align: top;
	    width: 48px;
	    background-position: center center;
	    background-repeat: no-repeat;
	}
	.contactform #privacylabel{
		background-color: transparent;
		border: 0 none;
		font-size: 12px;
		width: 90%;
		display: inline;
		position: static;
		height: auto;
	}
	#countrylabel,#statelabel{
		display:none !important;
	}
	.contactform label.error {
		background-color: #e11b22;
		border: 1px solid #e11b22;
		font-size: 0;
	}
	.contactform label.error + br + input,.contactform label.error + br + select {
		background-color: white;
		border: 1px solid #e11b22;
	}
	.contactform label.error#emaillabel + span + br + input {
		background-color: white;
		border: 1px solid #e11b22;
	}
	.contactform label.error:after{
		content:"";
		width: 0; height: 0; border-top: 5px solid transparent; border-left: 5px solid #e11b22; border-bottom: 5px solid transparent;
		position: relative;
		right: -49px;
		top: 23px;
	}
	.contactform > label[for="help"] {
	    background: none;
	    border: none;
	    display: block;
	    font-size: 12px;
	    height: auto;
	    margin: 20px 0 10px;
	    width: 100%;
	    position: relative;
	}
	.contactform > input, .right_bucket .contactform select {
	    background: #d7d7d7;
	    border: 1px solid #d7d7d7;
	    box-sizing: border-box;
	    color: #333333;
	    display: block;
	    font-family: arial;
	    font-weight: normal;
	    font-size:15px;
	    height: 50px;
	    margin: 20px 0;
	    padding-left: 60px;
	    text-indent: 10px;
	    top: 0;
	    width: 100% !important;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    border-radius:0;
	}
	#C_Country,#C_State {
	    height: 50px;
	    position: static;
	    color:#333333;
	    text-indent: 10px;
	    width: 100% !important;
	    padding-left:5px;
	    background:#d7d7d7 url('/siteImages/mobileimages/select_drop.png') no-repeat 95% center;
	}
	.contactform > input::-webkit-input-placeholder {
	   color: #FFFFFF;
	}
	.contactform > input:-moz-placeholder { /* Firefox 18- */
	   color: #FFFFFF;  
	}
	.contactform > input::-moz-placeholder {  /* Firefox 19+ */
	   color: #FFFFFF;  
	}
	.contactform > input:-ms-input-placeholder {  
	   color: #FFFFFF;  
	}
	.contactform label.error + br + input::-webkit-input-placeholder {
	   color: #e11b22;
	}
	.contactform label.error + br + input{
		color:#e11b22;
	}
	
	.contactform label.error + br + input:-moz-placeholder { /* Firefox 18- */
	   color: #e11b22;  
	}
	
	.contactform label.error + br + input::-moz-placeholder {  /* Firefox 19+ */
	   color: #e11b22;  
	}
	
	.contactform label.error + br + input:-ms-input-placeholder {  
	   color: #e11b22;  
	}
	.contactform label.error#emaillabel + span + br + input::-webkit-input-placeholder {
	   color: #e11b22;
	}
	.contactform label.error#emaillabel + span + br + input{
		color:#e11b22;
	}
	..contactform label.error#emaillabel + span + br + input:-moz-placeholder { /* Firefox 18- */
	   color: #e11b22;  
	}
	
	.contactform label.error#emaillabel + span + br + input::-moz-placeholder {  /* Firefox 19+ */
	   color: #e11b22;  
	}
	
	.contactform label.error#emaillabel + span + br + input:-ms-input-placeholder {  
	   color: #e11b22;  
	}
	.contactform label.error + br + select#C_Country{
		color:#e11b22;
	}
	#fnamelabel, #lnamelabel, #titlelabel{
		background-image: url("/siteImages/mobileimages/user.png");
	}
	#emaillabel{
		background-image: url(/siteImages/mobileimages/email.png);
	}
	#companylabel{
		background-image: url(/siteImages/mobileimages/company.png);
	}
	#phonelabel{
		background-image:url(/siteImages/mobileimages/mobile.png);
	}
	input:-moz-placeholder{color:#000}
	input:-ms-input-placeholder{color:#000}
	
	.contactform textarea {
	    border: 1px solid #bfbfbf;
	    box-sizing: border-box;
	    margin: 0;
	    resize: none;
	    width: 100% !important;
	}
	#recaptcha > div {
	    width: 100% !important;
	}
	#recaptcha_image > img {
	    width: 100%;
	    margin:0 0 10px 0;
	}
	#recaptcha > label {
	    display: block;
	    font-size: 12px;
	    padding-top: 10px;
	}
	input#recaptcha_response_field {
	    border: 1px solid #bfbfbf;
	    height: 20px;
	    width: 68% !important;
	}
	.contact #closeform, .contact #submit {
		display: none !important;
	}
	#contact #submit.submit {
		-webkit-appearance: none;
		border-radius:0;
	    background: #e11b22;
	    color: #fff;
	    display: block !important;
	    float: none;
	    font-size: 14px;
	    font-weight: bold;
	    padding: 10px 0;
	    text-align: center;
	    text-decoration: none;
	    text-transform: uppercase;
	    width: 100%;
	}
	.snav{
		text-align:left;
		width:100%;
	}
	.subnav{
		padding-left:0;
	}
	.right_bucket .snav label[for="country_1"] {
	    font-size: 16px;
	    text-align: center;
	    margin: 15px 0;
	}
	.right_bucket .snav select {
	    padding: 17px;
	    text-align: center;
	    width: 100%;
	    -webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius:0;
		
		background: #d7d7d7;
		background-image: url('/siteImages/mobileimages/select_drop.png'); /* fallback */
		background-image: url('/siteImages/mobileimages/select_drop.png'), -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e1e1e1)); /* Saf4+, Chrome */
		background-image: url('/siteImages/mobileimages/select_drop.png'), -webkit-linear-gradient(top, #f4f4f4, #e1e1e1); /* Chrome 10+, Saf5.1+ */
		background-image: url('/siteImages/mobileimages/select_drop.png'),    -moz-linear-gradient(top, #f4f4f4, #e1e1e1); /* FF3.6+ */
		background-image: url('/siteImages/mobileimages/select_drop.png'),      -o-linear-gradient(top, #f4f4f4, #e1e1e1); /* Opera 11.10+ */
		background-image: url('/siteImages/mobileimages/select_drop.png'),         linear-gradient(to bottom, #f4f4f4, #e1e1e1); /* W3C */
		background-repeat: no-repeat;
		background-position: 95%;

	}
	.right_bucket .snav select option {
	    text-align: left;
	}
	.right_bucket .snav button {
	    background: #e11b22;
	    height: auto;
	    padding: 0;
	    width: 100%;
	    margin-top: 10px;
	    text-transform: uppercase;
	}
	.right_bucket .snav button span {
	    background: none;
	    height: auto;
	    padding: 0;
	}
	.right_bucket .snav button span em {
	    background: none;
	    height: auto;
	    padding: 10px;
	    width: 94%;
	}
	h3.snavtext {
	    color: #0083a9;
	}
	.onethird.lmargin ul.subnavmenu li {
	    width: 100%;
	}
	.onethird.lmargin ul.subnavmenu li a {
	    font-size: 1.3em;
	    width: 100%;
	}
	.twothirds.listinner > table {
	    width: 100% !important;
	}
	.twothirds.inner {
	    width: 100%;
	}
	#countries {
	    width: 100%;
	}
	.sort a:first-child {
	    margin: 0;
	}
	.twothirds.listinner > table {
	    table-layout: fixed;
	    width: 100% !important;
	}
	table tr td {
	    width: auto !important;
	    word-wrap: break-word;
	}
	#imgHolder + br + br + div {
	  padding: 0 20px;
	}
	#ars_tl_publications{
		padding: 0 20px;
		box-sizing: border-box;
		margin-bottom:0;
	}
	#ars_tl_publications h1{
		font-size:14px;
	}
	.ars_tl_column {
	  display: inline-block;
	  vertical-align: top;
	  float:none;
	}
	.ars_tl_last{
		float:none;
		display:inline-block;
	}
	.ars_tl_shelf img{
		margin-top: 0;
	}
	/* **** cookies div **** */
	div#cookie {
		position: fixed !important;
		top: 0;
		bottom: auto !important;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.4);
	}
	div.callouts-block {
		background-color: #fff !important;
		border: 1px solid #ccc;
		width: 90% !important;
		height: auto!important;
		margin: 5%;
		padding: 0;
		position: relative;
	}
	div.callouts-block div.header {
		line-height: 60px;
		background: url("/siteImages/mobileimages/request-bg.png") repeat-x scroll top left;
		font-size: 16px;
		color: #555;
		text-align: center;
		font-weight: normal;
		padding: 0;
	}
	div.callouts-block div.callout{
		width: 100%;
		box-sizing:border-box;
		padding:20px 20px 10px 20px;
		margin: 0;
	}
	div.callouts-block div.callout div.text,div.callouts-block div.callout div{
		margin:0;
		padding:0;
	}
	div.callouts-block div.callout div{
		width: auto;
	}
	div.callouts-block div.callout div.text{
		padding-bottom:15px;
	}
	div.callouts-block div.callout div[align="center"] {
		margin-bottom: 15px;
	}
	div.callouts-block a:hover, div.callouts-block a:focus{
		text-decoration: none;
	}
	div.callouts-block div.callout div[align="center"]:nth-child(2) br{
		display: none;
	}
	/*This is for table css in forms*/
	#PageTable, .elqLayout {
	    table-layout: fixed;
	    width: 100% !important;
	}
	#MainDiv > div {
	    padding: 0 !important;
	}
	.elqLayout td:nth-child(1), .elqLayout td:nth-child(2) {
	    display: block;
	    width: 100% !important;
	}
	.elqLayout td input, .elqLayout td select, .elqLayout td textarea {
	    border: 1px solid #a2a2a2;
	    display: inline-block;
	    height: 35px;
	    padding: 0;
	    margin-bottom: 15px;
	    width: 100% !important;
	}
	.elqLayout td:nth-child(3) {
	    position: relative;
   		width: 10px !important;
	}
	.elqLayout td:nth-child(3) label {
	    position: absolute;
	    right: -5px;
	    top: 5px;
	}
	.elqSubmit {
	    background: #e11b22;
	    border: medium none !important;
	    color: #fff;
	    font-size: 12px;
	    font-weight: bold;
	    height: 45px !important;
	    text-transform: uppercase;
	}
	* {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-moz-tap-highlight-color: rgba(0,0,0,0);
		tap-highlight-color: rgba(0,0,0,0);
	}
	input[type="text"],
	textarea,
	select{
	    font-size:16px !important;
	}
	
	#feed-results a strong {
    		background: #e21f27 none repeat scroll 0 0;
    		border-radius: 4px;
    		color: #fff !important;
    		display: block;
    		font-size: 16px;
    		margin: 15px 0 0;
    		padding: 10px;
    		text-align: center;
	}
	#thgtLdr {
    	 border-bottom: 1px solid #a5a5a5;
   	 color: #727272;
   	 font: 19.8pt "Prelo Slab W01 Medium";
   	 letter-spacing: 0.2pt;
   	 margin-top: 9px;
	 padding-bottom: 7px;
	 text-align: center;
	}
#focal-text {
 	   border-bottom: 1px solid #a5a5a5;
	    color: #727272;
	    font: 19.8pt "Prelo Slab W01 Medium";
	    letter-spacing: 0.2pt;
	    margin-top: 9px;
	    padding-bottom: 7px;
	    text-align: center;
	}

.error_logo {
	margin-left: 0px;
	padding-top: 15px;
}

.error_logo > img {
    width: 40px;
}

.search_error_main {
    margin: -60px 85px;
}

.search_error_main h2 {
    float: left;
	text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0px 0px 0px 15px;
    width: 100%; /* 550px; */
	color: C9CAC8;
}

.search_error_sub {
	float: left;
    padding: 10px 0px 100px 15px;
    width: 100%; /*450px; */
	color: black;
}

#intro {
	width:100%; 
	font-size: 16px; 
	position:relative; 
	padding-top:20px;
}

#two-column-01 {
	width:100%;
    position:relative;
}
 
#two-column-01 .text-left {
	width:100%;
	margin:0px 0px 0px 0px;
	position:relative;
}
 
#two-column-01 .img-right {
	width:100%;
	height: 100%;
    margin:0px 0px 0px 0px;
	position:relative;
}

#two-column-02 {
	width:100%;
    position:relative;
}
 
#two-column-02 .img-left {
	width:100%;
	height: 100%;
	margin:0px 0px 0px 0px;
	position:relative;
}
 
#two-column-02 .text-right {
	width:100%;
	margin:0px 0px 0px 0px;
	position:relative;
 }
 
IMG.centered {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

/* BEGIN 58 - 2 - 40 Two Column Responsive Treatment */

#two-col-intro {
	width:100%; 
	position:relative; 
	padding-top:15px;
}

#two-col-01 {
	width:100%;
    position:relative;
	margin-bottom:15px;
}
 
#two-col-01 .text-left {
	width:100%;
	margin:0px 0px 0px 0px;
	position:relative;
}
 
#two-col-01 .img-right {
	width:100%;
	height: 100%;
    margin:0px 0px 0px 0px;
	padding-bottom:15px;
	position:relative;
}

#two-col-02 {
	width:100%;
    position:relative;
	margin-bottom:15px;
}
 
#two-col-02 .img-left {
	width:100%;
	height: 100%;
	margin:0px 0px 0px 0px;
	padding-bottom:15px;
	position:relative;
}
 
#two-col-02 .text-right {
	width:100%;
	margin:0px 0px 0px 0px;
	position:relative;
}

/* END 58 - 2 - 40 Two Column Responsive Treatment */

/* 49 - 2 - 49 Two Column Responsive Treatment */

#two-col-49-49 {
	width:100%;
	margin-top:25px;
    position:relative;
	text-align:left;
 }
 
#two-col-49-49 .left {
	width:100%;
	margin:15px 0px 0px 0px;
	position:relative;
	text-align:left;
 }
 
 #two-col-49-49 .left .leftside-a {
	width:100%;
	margin:15px 0px 0px 0px;
	position:relative;
	text-align:left;
 }
 
 #two-col-49-49 .left .leftside-b {
	width:100%;
	margin:15px 0px 0px 0px;
	position:relative;
	text-align:left;
 }
 
 #two-col-49-49 .right {
	width:100%;
	margin:15px 0px 0px 0px;
	text-align:left;
 }
 
 #two-col-49-49 .right .rightside-a {
	width:100%;
	margin:15px 0px 0px 0px;
	position:relative;
	text-align:left;
 }
 
 #two-col-49-49 .right .rightside-b {
	width:100%;
	margin:15px 0px 0px 0px;
	position:relative;
	text-align:left;
 }
 
/* END 49 - 2 - 49 Two Column Responsive Treatment */

}