@font-face { 
    font-family: 'ITCStoneSansStdMedium';
    src: url('/code/fonts/stonesansstd-medium-webfont.eot');
    src: url('/code/fonts/stonesansstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/code/fonts/stonesansstd-medium-webfont.woff') format('woff'),
         url('/code/fonts/stonesansstd-medium-webfont.ttf') format('truetype'),
         url('/code/fonts/stonesansstd-medium-webfont.svg#ITCStoneSansStdMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* -------- Global header -------- */

#global-header-block {  
  position:relative;
  height:110px;  /* 160px */
  width:850px;
  margin:auto;
  z-index:10;
}
#global-header-block .head_aon-logo { 
	position:absolute;left:0px;top:25px; 
}
#global-header-block .head_slogan {
  position:absolute;
  right:200px; /* 320px */
  top:28px;
  font-weight:700;
  font-size:11px;
  line-height:11px;
  
  top:25px \0/;
}

#global-header-block span.head_links {
    color: #4d4f53;
    font-size: 11px;
    font-weight: 100;
    line-height: 11px;
    list-style-type: none;
    padding-left: 45px;
}

#global-header-block .head_slogan a.highlight {
	color: #E11B22;
	font-weight: bold;
}



#global-header-block ul.head_links {
  position:absolute;
  right:235px;
  top:25px;
  padding:0;
  margin:0;
  list-style-type:none;
/*  width:200px; */
  color:#4d4f53;
  font-size:11px;
  line-height:11px;
  text-align:right;
}
#global-header-block ul.head_links li {
  display:inline;
  padding:0 7px 0 7px;
  border-right:1px solid #4d4f53;
  text-align:left;
  vertical-align:top;
  position:relative;
  top:5px;
}
#global-header-block ul.head_links li a { vertical-align:top; }
#global-header-block ul.head_links li.first { padding:0 7px 0 0;border-right:none;position:relative;top:0; }
#global-header-block ul.head_links li.last { padding:0 0 0 7px;border-right:none; }
#global-header-block a { color:#4d4f53; }
#global-header-block a:hover { color:#0083A9; }
#global-header-block ul#simple-navigation { position:absolute;top:120px;  }
#global-header-block ul#simple-navigation > li > a { font-size:14px; font-family:ITCStoneSansStdMedium;}
#global-header-block ul#simple-navigation .secondary-navigation li a {font-family:Arial;color:#363636; }

#global-header-block .head_cty {
  position:absolute;
  right:2px;
  top:90px;
  font-weight:700;
  font-size:11px;
  line-height:11px;
}
#global-header-block .head_cty span {
	display: inline-block; height: 15px; line-height: 15px;
}
#global-header-block .head_cty .head_lang {
	margin-right: 25px;
}
#global-header-block .head_cty .country {
	/* padding-right: 20px; */
		padding: 0 10px 0 25px;
}



/* -------- Megamenu -------- */
div#megamenu-content-block {
    position: static; /* relative; */
    top: 110px;
    width: 850px;
    z-index: 10000;
}


div#megamenu-content-block #primary-navigation {
  list-style-type:none;
  background:url(/siteImages/v2.nav-bg.png);
  padding:0;
  /*margin:0;
  border-bottom:1px solid #737373;
  border-right:1px solid #737373;
*/
  height:39px;
  width:850px;
  position:relative;
  z-index: 10000;
}
div#megamenu-content-block #primary-navigation > li {
  padding:0 30px 0 30px;
  margin:0;
  display:inline-block;
  height:100%;
  font-family:ITCStoneSansStdMedium;
  font-size:14px;
  color:#4d4f53;
  line-height:39px;
  width:auto;
  border-right:1px solid #bababa;
  border-left:1px solid #fff;
  float:left;
  cursor:pointer;
/*  position:relative;*/
}
div#megamenu-content-block #primary-navigation > li > a { color:#4d4f53;text-decoration:none; }
div#megamenu-content-block #primary-navigation > li.first { border-left:none; }
div#megamenu-content-block #primary-navigation > li.last { border-right:none; }
div#megamenu-content-block #primary-navigation > li:hover,
div#megamenu-content-block #primary-navigation > li.active {
  background:url(/siteImages/v2.nav-bg-hover.png);
}
div#megamenu-content-block .secondary-navigation {
  border-top:1px solid #a1a1a1;
  padding:0;
  position:absolute;
  top:39px;
  left:0;
  background-color:#b8b8b8;
  width:100%;
  height:495px;
  width:850px;
}
div#megamenu-content-block .secondary-navigation .menu {
  padding:0;
  margin:0;
  position:relative;
  height:auto;
}

div#megamenu-content-block .secondary-navigation .menu > li {
  display:inline-block;
  width:auto;
  padding:0;
  margin:0;
  vertical-align:top;
  height:493px;
  font-family:Arial;
  font-size:12px;
  zoom:1;
  *display:inline;
}
div#megamenu-content-block .secondary-navigation .menu > li.active {
  background-image: url(/siteImages/v2.white_up_triangle.png);
  background-repeat:no-repeat;
  background-position:50% 35px;
  cursor:pointer;
}

div#megamenu-content-block .secondary-navigation .menu > li > a { 
/*Edit*/
position: relative; top: 15px;
/*End Edit*/
  padding:7px 10px 7px 10px;
  margin:0;
  color:#fff;
  font-size:10px;
  line-height:18px;
  font-weight:700;
}

@-moz-document url-prefix() { 
div#megamenu-content-block .secondary-navigation .menu > li > a { 
	position: relative; top: 0px;
  }
}

div#megamenu-content-block .secondary-navigation .menu > li:hover > a {
  text-decoration:none; 
}
div#megamenu-content-block .secondary-navigation .menu > li.active > a {
  color:#4d4f53;
  text-decoration:none;
  background-color:#fff;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -khtml-border-radius:2px;
  border-radius:2px;
}
div#megamenu-content-block .secondary-navigation #preview-box {
  border-left:1px solid #fff;
  width:185px;
  background-color:#d7d7d7;
  padding:45px 10px 10px 10px;
  position:absolute;
  top:0;
  right:0;
  height:428px;
}
div#megamenu-content-block .secondary-navigation #preview-box img {
  display:block;
  padding:0;
  margin-left: -4px;
}
div#megamenu-content-block .secondary-navigation #preview-box p {
  padding:15px 0 0 0;
  margin:0;
  color:#4d4f53;
  line-height:16px;
  font-size:15px;
  font-family:Arial;
}
div#megamenu-content-block .secondary-navigation #preview-box a {
  background-image:url(/siteImages/v2.link_arrow_gray.png);
  background-repeat:no-repeat;
  background-position:right 4px;
  margin:10px 0 0 0;
  padding:0 10px 0 0;
  font-size:12px;
  line-height:12px;
  font-family:Arial;
  color:#0083a9;
}
div#megamenu-content-block .secondary-navigation #preview-box a { color:#0083a9; }
div#megamenu-content-block .secondary-navigation div.left {
  height:484px;
  border-right:1px solid #9d9e9f;
  padding:0 9px 0 10px;
  position:absolute;
  top:0;
  left:0;
  width:715px;
}
div#megamenu-content-block .secondary-navigation .body {
  background-color:#fff;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -khtml-border-radius:2px;
  border-radius:2px;
  width:605px;
  height:413px;
  padding:15px 10px 10px 10px;
  margin:0;
  position:absolute;
  top:45px;
  left:0;
  display:none;
  overflow:auto;
}
div#megamenu-content-block .secondary-navigation ul.menu > li.active .body { display:block; }
div#megamenu-content-block .secondary-navigation .body ul.col {
  width:41%;
  display:inline-block;
  margin:0;
  margin-right: 10px;
  padding:0;
  list-style-type:none;
  vertical-align:top;
  zoom:1;
  *display:inline;
}
div#megamenu-content-block .secondary-navigation .body ul.col li {
	padding:0;
	margin:0; 
	display: block;
	padding-bottom: 6px;
	line-height:11px;
}
/*div#megamenu-content-block .secondary-navigation .body ul.col li.strong { height:22px; }*/
/*div#megamenu-content-block .secondary-navigation .body ul.col li.first  { height:13px;padding:5px 0 0 0; }*/
div#megamenu-content-block .secondary-navigation .body ul.col li a {
  color:#4d4f53;
  font-size:11px;
  line-height:10px;
  display: block;
}
/*div#megamenu-content-block .secondary-navigation .body ul.col li.first a { vertical-align:top }*/
div#megamenu-content-block .secondary-navigation .body ul.col li a:hover {
  color:#0083A9;
  text-decoration:none;
}
div#megamenu-content-block .secondary-navigation .body ul.col li.strong a {
  font-size:13px;
  line-height:13px;
  font-weight:700;
  padding:0;
  margin:0;
}

form.search {
	position: absolute;
	margin-right: 11px;
	top:20px; 
	right:28px;
	z-index:11000;
}

form.search input[type='text'].search {
  width:170px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  /* box-shadow:inset 1px 1px 1px 1px #777; font-family:Arial; */
  border: 1px solid #999;
  font-size:10px;
  font-weight:700;
  color:#4c4d4f;
  padding:5px 5px 5px 5px;
  margin:0;
  background: transparent none repeat scroll 0 0;
  /* background-image:url(/siteImages/v2.search-button.png);*/
  background-repeat:no-repeat;
  background-position:160px 5px;
  display:block;
}

form.search input[type='text'].search\0 {
  border: 1px solid black;
}

#searchbtn { 
    bottom: 7px !important;
    position: absolute;
    /* right: 10px; */


/*to replace in global.css*/
#breadcrumb { color: #4d4f53; float: none; font-size: .9em; margin: 0; padding-bottom: 0px; width: 850px;
}
#breadcrumb a, #breadcrumb a:active { color: #4d4f53;

}
#breadcrumb a:hover { color: #4d4f53; text-decoration: none;	

}
#breadlinks1 { color: #4d4f53; float: none;

}
#breadlinks1 a { color: #4d4f53;

}
#breadlinks1 a:hover { color: #4d4f53; text-decoration: none;

}
#breadlinks2 { float: none;

}
.breadlink { color: #4d4f53; font-size: .9em;

}
/* new */
#breadlinks2 { 
	float: right;
	display:none;
}
#breadlinks2 a { 
	font: 11px/15px Arial, Helvetica, sans-serif;
	display: inline-block;
	height: 15px; width: 30px;
	margin-left: 10px;
	padding-left: 15px;
}
#breadlinks2 a:hover { 
	font-weight: bold;
}
#breadlinks2 a.bl_print { background: url(../../IWTemp/uschduxres008/cache/default/main/Aon.com/Administration/WORKAREA/siteImages/print.gif) no-repeat 0px 2px; }
#breadlinks2 a.bl_email { background: url(../../IWTemp/uschduxres008/cache/default/main/Aon.com/Administration/WORKAREA/siteImages/email.gif) no-repeat 0px 2px; } 

/* Ios styles */

@media screen and (min-device-width: 481px) { 
.body ul li a:hover > ul {
    display: block;
}

.error_logo {
	margin-left: 37px;
	padding-top: 35px;
}

.error_logo > img {
    width: 50px;
}

.search_error_main {
    margin: -85px 85px;
}

.search_error_main h2 {
    float: left;
	text-transform: uppercase;
    font-size: 44px;
    margin: 0;
    padding: 16px 0px 0px 11px;
    width: 550px;
	color: C9CAC8;
}

.search_error_sub {
	float: left;
    padding: 14px 0 100px 15px;
    width: 415px;
	color: black;
}


}
